<script type="text/javascript">

var moduloPano = (function($) {
	
	var panoViewer = null;
	var pendiente = null;
	
	var BUFFER_IMGS = {};
	
	var darImage = function(url) {
		var diferido = $.Deferred();
		var llave = MD5(url);
		if (llave in BUFFER_IMGS) {
			diferido.resolve(BUFFER_IMGS[llave]);
		} else {
			var imagen = new Image();
			imagen.setAttribute('crossorigin', 'anonymous'); 
			imagen.onload = function () {
				BUFFER_IMGS[llave] = imagen;
				diferido.resolve(imagen);
			};
			imagen.src = url;
		}
		return diferido;
	};
	
	var precargarImagen = function(url, MAX_PERIODO) {
		var diferidoCargueImagen = $.Deferred();
		var diferidoTodo = $.Deferred();
		darImage(url).then(function(myimg) {
	        var canvas = document.createElement('canvas');
	        canvas.width = myimg.naturalWidth; // or 'width' if you want a special/scaled size
	        canvas.height = myimg.naturalHeight; // or 'height' if you want a special/scaled size
	        canvas.getContext('2d').drawImage(myimg, 0, 0);
	        diferidoCargueImagen.resolve(canvas.toDataURL('image/jpg'));
		});
	    
	    setTimeout(function() {
	    	diferidoCargueImagen.then(function(datos) {
	    		diferidoTodo.resolve(datos);
	    	});
	    }, MAX_PERIODO);
	    return diferidoTodo;
	};
	
	var play = function(todas, llaveInicio, MAX_PERIODO) {
		if (pendiente != null) {
			clearTimeout(pendiente);
			pendiente = null;
		}
		var llaves = Object.keys(todas);
		llaves.sort();
		var indice = llaves.indexOf(llaveInicio);
		if (indice < 0) {
			indice = 0;
		}
		var primeraVez = true;
		var actividadPrimeraVez = moduloActividad.on();
		
		var iterativa = function() {
			console.log('iterativa', indice);
			var llave = llaves[indice];
			var ctx = todas[llave];
			var urlCompleta = moduloArchivos.generarUrlDadoId(ctx.img, false);
			precargarImagen(urlCompleta, MAX_PERIODO).then(function(datos) {
				ver(datos).then(function() {
					if (primeraVez) {
						actividadPrimeraVez.resolve();
						primeraVez = false;
					}
					setTimeout(function() {
						panoViewer.zoom(30);
						panoViewer.autoSize();
						panoViewer.needsUpdate();
						window.dispatchEvent(new Event("resize"));
						window.dispatchEvent(new Event("orientationchange"));
					});
					indice++;
					if (indice >= llaves.length) {
						indice = 0;
					}
					if (llaves.length > 1) {
						iterativa();
					}
				});
			});
		};
		
		iterativa();
	};
	
	var diferidoCargue = null;
	var finalizoCargue = function() {
    	console.log('ok cargue');
    	diferidoCargue.resolve();
    	//panoViewer.off('ready', escucha);
	};
	
	var ver = function(urlimagen) {
		console.log('ver');
		diferidoCargue = $.Deferred();
        if (panoViewer == null) {
	        $('.panocontenedor').html('<div class="panoviewer-container viewer">'+
		        '<div id="panoSet">'+
		            '<div class="panoviewer container" id="myPanoViewer"></div>'+
		        '</div>'+
		    '</div>');
	        
	        panoViewer = new PhotoSphereViewer({
	            container: document.querySelector('#myPanoViewer'),
	            panorama: urlimagen,
	            //defaultZoomLvl: 30,
	            //longitudeRange: [-3*Math.PI/4, 3*Math.PI/4],
	            //latitudeRange: [Math.PI/2, -Math.PI/2],
				navbar: [
				  'autorotate',
				  'zoom',
				  'stereo',
				  'gyroscope',
				  'fullscreen',
				  {
				      id: 'my-salir',
				      title: 'Salir',
				      className: 'custom-button',
				      content: 'Salir',
				      onClick: function() {
				      	salir();
				      },
				   },
				],
	        });
	        panoViewer.on('ready', finalizoCargue);
        } else {
        	panoViewer.setPanorama(urlimagen).then(function() {
        		diferidoCargue.resolve();
        	});
        	//panoViewer.stopGyroscopeControl();
        	//panoViewer.stopStereoView();
        	//panoViewer.stopAnimation();
        }
        
        $('.panocontenedor').css({'display': 'block'});
        
        return diferidoCargue;
	};
	
	var salir = function() {
		$('.panocontenedor').css({'display': 'none'});
		if (pendiente != null) {
			clearTimeout(pendiente);
			pendiente = null;
		}
	};
	
	return {
		'ver': ver,
		'salir': salir,
		'play': play,
	};
	
})(jQuery);

  var moduloIntMarkInst = moduloIntMark({
    'masterLoged': true,
    'masterIdUsr': true,
    'slaveLoged': false,
    'slaveIdUsr': false,
    'useFirebase': false,
  });

  var app = angular.module('myApp', [
    //'ngRoute',
    'ui.router',
    'mobile-angular-ui',
    'mobile-angular-ui.gestures',
    'minicolors',
  ]).config(function(minicolorsProvider, $stateProvider, $urlRouterProvider) {
      $urlRouterProvider.otherwise("/");
      $stateProvider.state('/', {url:'/', templateUrl: "/assets/1/pan/vista.html"});
      $stateProvider.state('debug', {url: '/debug', templateUrl: '/assets/1/pan/debug.html', reloadOnSearch: false});
      $stateProvider.state('galeria', {url: '/galeria', templateUrl: '/assets/1/pan/galeria.html', reloadOnSearch: false});

      angular.extend(minicolorsProvider.defaults, {
        control: 'hue',
        theme: 'bootstrap',
        position: 'top left'
      });
    });

  app.run(function($transform) {
    window.$transform = $transform;
  });

app.controller('MainController', function($rootScope, $scope, $state) {
	
  $scope.temporal = {
	'q': '', 
	'rta': [],
    'next': null,
  };
  $scope.metadata = {
    'ctx2': {
    	'fotos': {},
    },
    'principal': {
      'uid': null,
    }
  };
  $scope.slaveUrl = null;
  moduloIntMarkInst.afterAny().then(function(datos) {
    //console.log(datos);
    $scope.slaveUrl = datos.slaveUrl;
    $.extend(true, $scope.metadata, datos);
    $scope.$digest();
    diferidoDatos.resolve();
  });

  var diferidoCargue = null;
  var diferidoDatos = $.Deferred();
  // Needed for the loading screen
  $rootScope.$on('$routeChangeStart', function() {
    $rootScope.loading = true;
    diferidoCargue = moduloActividad.on();
  });

  $rootScope.$on('$routeChangeSuccess', function() {
    $rootScope.loading = false;
    diferidoCargue.resolve();
  });
  
  $scope.redirigir = function(estado) {
    $state.go(estado);
  };
  
  $scope.inicializar = function() {
	  diferidoDatos.then(function() {
		  
	  });
  };
  
  $scope.guardarTodo = function() {
    var diferidoGuardado = moduloActividad.on();
    if (typeof angular == 'undefined') {
      angular = {
        toJson: JSON.stringify,
      };
    }
    var diferido2 = moduloPagina.guardar2(JSON.parse(angular.toJson($scope.metadata.ctx2)), undefined, true);
    var diferido1 = moduloPagina.guardar(JSON.parse(angular.toJson($scope.metadata.ctx)));
    all([diferido1.promise, diferido2.promise]).then(function() {
    	diferidoGuardado.resolve();
    });
    return diferidoGuardado;
  };
  
  $scope.mostrarAlgoEnGaleria = function() {
    if ($scope.temporal.rta.length > 0) {
      return;
    }
    $scope.buscar();
  };
  
  $scope.buscar = function() {
    $scope.temporal.rta = [];
    $scope.temporal.next = null;
    moduloPagina.buscar($scope.temporal.q).then(function(rta) {
      for (var i=0; i<rta.valor.length; i++) {
        $scope.temporal.rta.push(moduloTransformacion.modo('simple').from(rta.valor[i], true));
      }
      $scope.temporal.next = rta.next;
      $scope.$digest();
    }, function() {
      
    });
  };
  
  var darUrlDeArchivo = function(id, predef, local) {
    if (typeof id == 'string' && id.length > 0) {
      return moduloArchivos.generarUrlDadoId(id, local);
    } else {
      return predef;
    }
  };
  
  $scope.darUrlDeIdImagen = function(id) {
    return darUrlDeArchivo(id, '/assets/1/pan/img/def.svg', false);
  };
  
  $scope.verDetalle = function(ctx) {
    var id = ctx.id;
    var nuevaUrl = location.pathname.replace(/\d*$/, '')+'?pg='+id+'#!/';
    var win = window.open(nuevaUrl, '_blank');
    win.focus();
  };

  $scope.redirigir = function(estado) {
    $state.go(estado);
  };
  
  $scope.diferidoBorrado = null;
  $scope.borrarEfectivo = function() {
    $scope.diferidoBorrado.resolve();
  };
  
  $scope.borrarUno = function(instancia) {

    $rootScope.Ui.turnOn('modalBorrar');
    $scope.diferidoBorrado = $.Deferred();
    $scope.diferidoBorrado.then(function() {
      moduloPagina.borrarTodo(instancia.id).then(function() {
        //Lo debo sacar de la lista
        var indice = $scope.temporal.rta.indexOf(instancia);
        if (indice >= 0) {
          $scope.temporal.rta.splice(indice, 1);
          $scope.$digest();
        }
      });
    });
  };
  
  $scope.subirPanorama = function() {
    
    var subirArchivo = function() {
      var diferido = $.Deferred();
      var funcionCargue = moduloArchivos.darFuncionCargue();
      funcionCargue({
        auto: 'false', 
        tipos: 'image/*', 
        opcionesNegras: [],
        dataFolder:'/pano',
      }).then(function(metadata) {
    	  var actividadMini = moduloActividad.on();
    	  modIdGen.nuevo().then(function(unIdPanoMini) {
        	  var local = false;
        	  var urlLarga = moduloArchivos.generarUrlDadoId(metadata.id, local);
        	  moduloMiniatura.tinyPlanet(urlLarga, 350).then(function(archivo) {
        		  moduloArchivos.subirArchivoMioDePagina({
        			  'dataFolder': '/peque',
        			  'id': unIdPanoMini+'.jpg',
        		  }, archivo).then(function(metadata2) {
        			  diferido.resolve({'big':metadata.id, 'peque':metadata2.id});
        			  actividadMini.resolve();
        		  });
        	  }, function() {
        		  actividadMini.resolve();
        	  });
    	  }, function() {
    		  actividadMini.resolve();
    	  });
      }, function() {
        diferido.reject();
      });
      return diferido;
    };
    
    subirArchivo().then(function(losids) {
		var nuevo = {
			img: losids.big,
			imgPeque: losids.peque,
		};
		modIdGen.nuevo().then(function(unIdPano) {
			if ($scope.metadata.ctx2.fotos instanceof Array) {
				$scope.metadata.ctx2.fotos = {};
			}
			$scope.metadata.ctx2.fotos[unIdPano] = nuevo;
			$scope.guardarTodo();
			$scope.$digest();	
		});
    });
	  

  };
  
  $scope.verPanorama = function(ctx, myllave) {
		var MAX_PERIODO = 20000;
		moduloPano.play($scope.metadata.ctx2.fotos, myllave, MAX_PERIODO);
  };
  
  $scope.borrarPanorama = function(llave, ctx) {
	  
    $rootScope.Ui.turnOn('modalBorrar');
    $scope.diferidoBorrado = $.Deferred();
    $scope.diferidoBorrado.then(function() {
  	  var diferidoBorrar = moduloArchivos.borrar(ctx.img);
	  var diferidoBorrarPeque = moduloArchivos.borrar(ctx.imgPeque);
	  diferidoBorrar.then(function() {
		  diferidoBorrarPeque.then(function() {
			  delete $scope.metadata.ctx2.fotos[llave];
			  $scope.guardarTodo();
			  $scope.$digest();
		  });
	  });
    });
  };

});
</script>