
#micamara {
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
}

#micamara #vid_container {
    position: fixed;
    top: 0; left: 0;
    background: black;
    z-index: 9;
    text-align: center;
}      

#micamara canvas{
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    z-index: 9;
    /*border-radius: 50%;*/
} 

#micamara #gui_controls {
    position: fixed;
    background-color: #111; /*rgba(255, 0, 0, 0.5);*/
    z-index: 99;
    bottom:0;
}      

#micamara #video_overlay {
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 10;
    background-color:#111;
}

/*  Button style from: 
    https://googlesamples.github.io/web-fundamentals/fundamentals/media/mobile-web-video-playback.html */

#micamara button {
    outline: none;
    position: absolute;
    color: white;
    display: block;
    opacity: 1;
    background: transparent;
    border: solid 2px #fff;
    padding: 0;
    text-shadow: 0px 0px 4px black;
    background-position: center center;
    background-repeat: no-repeat;
    pointer-events: auto;
    z-index: 2;
}

#micamara #takePhotoButton {
    left: calc(50% - 40px);
    top: calc(50% - 40px);
    width: 80px;
    height: 80px;
    background-image: url('../img/ic_photo_camera_white_48px.svg');
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}

#micamara #takePhotoButton:active {
    background-color: #fff;
}

#micamara #toggleFullScreenButton {
    display: none;
    width: 64px;
    height: 64px;
    background-image: url('../img/times.svg');
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}

#micamara #toggleFullScreenButton[aria-pressed="true"] {
    background-image: url('../img/ic_fullscreen_exit_white_48px.svg');
}

#micamara #switchCameraButton {
    width: 64px;
    height: 64px;
    background-image: url('../img/ic_camera_rear_white_36px.svg');
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}

#micamara #switchCameraButton[aria-pressed="true"] {
    background-image: url('../img/ic_camera_front_white_36px.svg');
}

@media screen and (orientation:portrait) {
    /* portrait-specific styles */

    /* video_container (video) doesn't respect height... 
       so we will fill it in completely in portrait mode
    */
    #micamara #vid_container {
        width:100%;
        /*max-height:80%;*/
    }  

    #micamara #gui_controls {
        width: 100%;
        height: 20%;
        left:0;
    }

    #micamara #switchCameraButton { 
        left: calc(20% - 32px);
        top: calc(50% - 32px);
    }

    #micamara #toggleFullScreenButton { 
        left: calc(80% - 32px);
        top: calc(50% - 32px);
    }
}

@media screen and (orientation:landscape) {

    #micamara #vid_container {
        width:80%;
        height:100%;
    }  

    #micamara #vid_container.left {
        left:20%;
    }

    /* we default to right */
    #micamara #gui_controls {
        width: 20%; 
        height:100%;
        right:0;
    }  

    /* for the lefties */
    #micamara #gui_controls.left {
        left:0;
    }

    #micamara #switchCameraButton { 
        left: calc(50% - 32px);
        top: calc(18% - 32px);
    }

    #micamara #toggleFullScreenButton {
        left: calc(50% - 32px);
        top: calc(82% - 32px);
    }

} 