<script type="text/javascript">
var moduloDatos = (function() {
		
		var leer = function() {
				
		};
		
		return {
			
		};
	})();
	
	var moduloCont = (function() {
		
		var darHash = function(dato) {
			var id = [dato['v0'], dato['v1'], dato['v2'], dato['v3'], dato['v4']];
			return {
				'id': id, 
				'hash': MD5(JSON.sortify(id))
				};
		};
		
		//Se pasa una lista de valores categorizados ['a', '1', '2']
		var opinar= function(tip, lista, opciones) {
			opciones = $.extend(true, {}, {
				'max': 5,//la cantidad maxima de contadores distribuidos
			}, opciones);
			var diferido = $.Deferred();
			moduloIntMarkInst.afterSlave().then(function(datos) {
				moduloHttp.post('/api/cont/'+datos['ctx']['id']+'?'+$.param({'max':opciones['max']}), {
					'v': lista,//Lista de valores
					'tip': tip,
					}).then(function(rta) {
						diferido.resolve(rta);
					}, function() {
						diferido.reject();
					});
			});
			
			diferido.then(function(datos) {
				console.log(JSON.stringify(datos, null, 4));
			})
			
			return diferido;
		};
		
		//Lee la opinion del usuario actual para la pagina actual
		//Se asume que esta en modo slave y es usuario logeado
		var leer = function(tip) {
			var diferido = $.Deferred();
			moduloIntMarkInst.afterSlave().then(function(datos) {
				console.log('moduloCont', datos);
				
				moduloHttp.get('/api/cont/per', false, {
					'pg': datos['ctx']['id'],
					'tip': tip,
					}).then(function(rta) {
						diferido.resolve(rta);
					}, function() {
						diferido.reject();
					});
			});
			
			diferido.then(function(datos) {
				console.log(JSON.stringify(datos, null, 4));
			})
			
			return diferido;
		};
		
		var total = function(tip) {
			var diferido = $.Deferred();
			moduloIntMarkInst.afterSlave().then(function(datos) {
				
				var todo = [];
				var next = null;
				var N = 100;
				
				//Se juntan todos los que tengan un mismo v0-v4
				//[{id:['a', '1'], 'n': 2}]
				var totalizar = function() {
					//Recorro total
					var mega = {};
					for (var i=0; i<todo.length; i++){
						var elem = todo[i];
						var uid = darHash(elem);
						var llave = uid['hash'];
						var actual = null;
						if (llave in mega) {
							actual = mega[llave];
							actual['n']+=elem['n'];
						} else {
							actual = {'id': uid['id'], 'n': elem['n']};
							mega[llave] = actual;
						}
					}
					console.log(JSON.stringify(mega, null, 4));
				};
				
				var recursiva = function() {
					var peticion = {
						'pg': datos['ctx']['id'],
						'tip': tip,
						'n': N,
					};
					if (next != null) {
						peticion['next'] = next;
					}
					moduloHttp.get('/api/cont/pub', false, peticion).then(function(rta) {
							var lista = rta.ans;
							for (var i=0; i<lista.length; i++) {
								todo.push(lista[i]);
							}
							if (rta['next'] == null || lista.length == 0) {
								totalizar();
							} else {
								next = rta['next'];
								recursiva();
							}
						}, function() {
							
						});	
				};
				
				recursiva();
				
			});
			
			diferido.then(function(datos) {
				console.log(JSON.stringify(datos));
			})
			
			return diferido;
		};
		
		var borrar = function(tip, opciones) {
			opciones = $.extend(true, {}, {
				'max': 5,//la cantidad maxima de contadores distribuidos
			}, opciones);
			var diferido = $.Deferred();
			moduloIntMarkInst.afterSlave().then(function(datos) {
				moduloHttp.borrar('/api/cont/'+datos['ctx']['id']+'?'+$.param({'tip':tip, 'max':opciones['max']})).then(function(rta) {
					diferido.resolve();
				}, function() {
					diferido.reject();
				});
			});
			return diferido;
		};
		
		return {
			'opinar': opinar,
			'leer': leer,
			'total': total,
			'borrar': borrar,
		};
	})();
	
	var moduloPagina = (function() {
		
		var hashActual = {
				'0': null,
				'1': null,
		};
		var diferidoLectura = null;
		var diferidoLectura2 = null;
		
		var esDiferente = function(dato, subllave) {
			return (hashActual[subllave] != darHash(dato)['md5']);
		};
		
		var tomarImagen = function(valorActual, subllave) {
			var comp = darHash(valorActual);
			hashActual[subllave] = comp['md5'];
			return comp;
		};
		
		var darHash = function(dato) {
			var ans = {
					'txt': JSON.sortify(dato),
			};
			ans['md5'] = MD5(ans['txt']); 
			return ans;
		};
		
		var leer = function(opciones) {
			if (diferidoLectura != null && ['resolved', 'pending'].indexOf(diferidoLectura.state()) >= 0) {
				return diferidoLectura;
			}
			diferidoLectura = $.Deferred();
			opciones = $.extend(true, {}, {
				'logged': false,
				'tit': 'Titulo',
				'desc': 'Descripcion',
				'img': '/img/default.png',
			}, opciones);
			miseguridad.buscarUsuario(opciones['logged'], function() {
				var pg = $.urlParam('pg');
				moduloHttp.get('/api/xpage/', false, {
					'pg': pg, 
					'tit': opciones['tit'],
					'desc': opciones['desc'],
					'img': opciones['img'],
					}).then(function(rta) {
					var valorActual = moduloTransformacion.modo('simple').from(rta.valor, true);
					if (location.pathname != valorActual.path) {
						//Url mal armada, redirigir
						location.pathname = valorActual.path;
					} else {
						//Se prepara para leer el modelo de datos
						tomarImagen(valorActual, '0');
						diferidoLectura.resolve(valorActual);
					}
				}, function() {
					diferidoLectura.reject();
				});
			});
			return diferidoLectura;
		};
		
		var guardar = function(nuevo) {
			var diferido = $.Deferred();
			if (diferidoLectura !== null) {
				if (esDiferente(nuevo, '0')) {
					diferidoLectura.then(function(valor) {
						var temp = moduloTransformacion.modo('simple').to(nuevo, true);
						moduloHttp.put('/api/xpage/'+valor.id, temp).then(function(rta) {
							var valorActual = moduloTransformacion.modo('simple').from(rta.valor, true);
							tomarImagen(valorActual, '0');
							diferido.resolve(valorActual);
						});
					}, function() {
						diferido.reject();
					});
				} else {
					diferido.resolve(nuevo);
				}
			} else {
				diferido.reject();
			}
			
			diferido.then(function(valorActual) {
				diferidoLectura = $.Deferred();
				diferidoLectura.resolve(valorActual);
			});
			return diferido;
		};
		
		var borrar = function(otroId, servicio) {
			if (!(typeof servicio == 'string' && servicio.trim().length > 0)) {
				servicio = '/api/xpage/';
			}
			if (diferidoLectura !== null) {
				var diferido = $.Deferred();
				diferidoLectura.then(function(valor) {
					var idBorrar = valor.id;
					if ((typeof otroId == 'string' && otroId.trim().length > 0) || typeof otroId == 'number') {
						idBorrar = otroId;
					}
					moduloHttp.borrar(servicio+idBorrar).then(function(rta) {
						tomarImagen(null, '0');
						diferido.resolve(null);
					});
				}, function() {
					diferido.reject();
				});
			} else {
				diferido.reject();
			}
			return diferido;
		};
		
		var memento2 = null;
		var registrarMemento2 = function(plano) {
			var temp = JSON.parse(tomarImagen(plano, '1')['txt']);
			memento2 = {
				'v': temp,
				'k': Object.keys(temp),
			};
			//Debe convertir de version plana
			var temp = moduloTransformacion.modo('simple').from(plano, true);
			if (typeof temp == 'undefined'){
				temp = {};
			}
			return temp;
		};
		
		var leer2 = function() {
			if (diferidoLectura2 != null && ['resolved', 'pending'].indexOf(diferidoLectura2.state()) >= 0) {
				return diferidoLectura2;
			}
			diferidoLectura2 = $.Deferred();
			if (diferidoLectura !== null) {
				diferidoLectura.then(function(valor) {
					var idPagina = valor.id;
					
					var todo = {};
					var next = null;
					var N = 100;
					
					var totalizar = function() {
						//Se toma la foto de la version plana
						var valorActual = registrarMemento2(todo);
						diferidoLectura2.resolve(valorActual);
					};
					
					var recursiva = function() {
						var peticion = {
							'pg': idPagina,
							'n': N,
						};
						if (next != null) {
							peticion['next'] = next;
						}
						moduloHttp.get('/api/tup/all', false, peticion).then(function(rta) {
								var lista = rta.ans;
								for (var i=0; i<lista.length; i++) {
									todo[lista[i].k] = lista[i].v;
								}
								if (rta['next'] == null || lista.length == 0) {
									totalizar();
								} else {
									next = rta['next'];
									recursiva();
								}
							}, function() {
								//Podria reintentar
								diferidoLectura2.reject();
							});	
					};
					
					recursiva();
					
				}, function() {
					diferidoLectura2.reject();
				});
			} else {
				diferidoLectura2.reject();
			}
			return diferidoLectura2;
		};
		
		var guardar2 = function(modelo) {
			var diferido = $.Deferred();
			if (diferidoLectura !== null) {
				diferidoLectura.then(function(valor) {
					
					var idPagina = valor.id;
					//Debe calcular la diferencia entre:
					var payload = {
						'+':[],//crear
						'*':{},//modificar
						'-':[],//borrar
					};
					var valNuevos = moduloTransformacion.modo('simple').to(modelo, true);
					if (typeof valNuevos == 'undefined') {
						valNuevos = {};
					}
					var nuevoKeys = Object.keys(valNuevos);
					var viejoKeys = memento2['k'];
					
					var valViejos = memento2['v'];
					
					//Lo que debe crear
					payload['+'] = nuevoKeys.diff(viejoKeys);
					//Lo que debe eliminar
					payload['-'] = viejoKeys.diff(nuevoKeys);
					//Lo que debe modificar
					var restantes = nuevoKeys;
					restantes = restantes.diff(payload['+']);
					restantes = restantes.diff(payload['-']);
					
					for (var i=0; i<restantes.length; i++) {
						var llave = restantes[i];
						var cambio = false;
						var val0 = valViejos[llave];
						var val1 = valNuevos[llave];
						if (val0 !== val1) {
							if (val0 == null || val1 == null) {
								//Alguno de los dos es nulo
								cambio = true;
							} else {
								cambio = (''+val0 !== ''+val1);	
							}
						}
						if (cambio) {
							payload['*'][llave] = val1;
						}
					}
					//Cambio las listas por objetos
					var mapaNuevo;
					var listaNueva;
					
					mapaNuevo = {};
					listaNueva = payload['+'];
					for (var i=0; i<listaNueva.length; i++) {
						var llave = listaNueva[i];
						mapaNuevo[llave] = valNuevos[llave];
					}
					payload['+'] = mapaNuevo;
					
					//Itero en grupos de 30...
					//Google define que maximo se pueden hacer 30
					var N = 30;
					//Hago una copia...
					valViejos = JSON.parse(JSON.stringify(valViejos));
					var unionCrearModificar = {};
					for (llave in payload['+']) {
						unionCrearModificar[llave] = payload['+'][llave];
					}
					for (llave in payload['*']) {
						unionCrearModificar[llave] = payload['*'][llave];
					}
					var funcionFinal = function() {
						var reconstruido = registrarMemento2(valViejos);
						diferidoLectura2 = $.Deferred();
						diferidoLectura2.resolve(reconstruido);
					};
					
					var diferidoCreacion = $.Deferred();
					var diferidoEliminacion = $.Deferred();
					
					var recursivaModificar = function() {
						console.log('modificando...');
						var subgrupo = {};
						var conteo = 0;
						for (llave in unionCrearModificar) {
							if (conteo >= N) {
								break;
							}
							subgrupo[llave] = unionCrearModificar[llave];
							delete unionCrearModificar[llave];
							conteo++;
						}
						if (conteo == 0) {
							//Se acabo
							diferidoCreacion.resolve();
						} else {
							//Hace invocacion a servicio
							//console.log('invocando servicio + con', JSON.stringify(subgrupo));
							moduloHttp.post('/api/tup/'+idPagina, {'dat': subgrupo, 'acc': '+'}).then(function(respuesta) {
								funcionExitoLocal()
							}, function() {
								//Hubo error, que hacer?
								//Reintentar?
								//Seguir con lo que falta?
							});
							
							var funcionExitoLocal = function() {
								for (unallave in subgrupo) {
									valViejos[unallave] = subgrupo[unallave];
								}
								recursivaModificar();
							};
						}
					};
					
					recursivaModificar();
					
					diferidoCreacion.then(function() {
						//
						var recursivaEliminar = function() {
							console.log('eliminando...');
							var subgrupo = payload['-'].splice(0, N);
							if (subgrupo.length == 0) {
								//Se acabo
								diferidoEliminacion.resolve();
							} else {
								//Hace invocacion a servicio
								//console.log('invocando servicio - con', JSON.stringify(subgrupo));
								moduloHttp.post('/api/tup/'+idPagina, {'dat': subgrupo, 'acc': '-'}).then(function(respuesta) {
									funcionExitoLocal()
								}, function() {
									//Hubo error, que hacer?
									//Reintentar?
									//Seguir con lo que falta?
								});
								
								var funcionExitoLocal = function() {
									for (var j=0; j<subgrupo.length; j++) {
										delete valViejos[subgrupo[j]];
									}
									recursivaEliminar();
								};
							}
						};
						
						recursivaEliminar();
					});
					
					diferidoEliminacion.then(function() {
						diferido.resolve();
					});
					
					diferido.then(function() {
						console.log('termino');
						funcionFinal();
					});
				});
			} else {
				diferido.reject();
			}
			
			return diferido;
		};
		
		var leerTodo = function() {
			var diferido = $.Deferred();
			var promesas = [];
			promesas.push(leer().promise);
			promesas.push(leer2().promise);
			all(promesas).then(function(respuesta) {
				diferido.resolve(respuesta);
			}, function() {
				diferido.reject();
			});
			return diferido;
		};
		
		var subirImagenSocial = function() {
			leer().then(function(actual) {
				moduloArchivos.subirArchivoMioDePagina({
					auto: 'false', 
					tipos:'image/*', 
					opcionesNegras: [],
					dataFolder:'/meta',
				}).then(function(metadata) {
					actual.img = metadata.remoto;
					guardar(actual);
				});
			});
		};
		
		return {
			'leer': leer,
			'leer2': leer2,
			'leerTodo': leerTodo,
			'guardar': guardar,
			'guardar2': guardar2,
			'borrar': borrar,
			'subirImagenSocial': subirImagenSocial,
		};
	})();
	
	var moduloIntMark = (function(opciones) {
		opciones = $.extend(true, {
			'masterLoged': false,
			'slaveLoged': false,
			'masterIdUsr': false,
			'slaveIdUsr': false,
		}, opciones);
		var RAIZ = '/pgs';
		var diferidoDB = $.Deferred();
		var diferidoId = $.Deferred();
		
		var LLAVE_LOCAL_STORAGE = MD5(location.href);
		
		var darIdAnonimo = function() {
			var temp = localStorage[LLAVE_LOCAL_STORAGE];
			if (temp === undefined) {
				return null;
			}
			return temp;
		};
		
		var asignarIdAnonimo = function(id) {
			localStorage[LLAVE_LOCAL_STORAGE] = id;
		};
		
		//Se espera a que se inicializa firebase:
		miseguridad.thenApp().then(function(datos) {
			console.log('miseguridad ok');
			var funcionContinuar = function(principal, contextoPagina, lecturaLarga) {
				var database = firebase.database();
				var principalEsDuenio = ((principal !== undefined && principal !== null) && contextoPagina['usr'] == principal['uid']);
				var solicitudSlave = ($.urlParam('sl') == 'si');
				//es slave si lo solicita o si no es el duenio de la pagina
				var tipoCliente = ((solicitudSlave || !principalEsDuenio) ? 'slave' : 'master');
				diferidoDB.resolve({
					'database': database, 
					'principal': principal, 
					'ctx': contextoPagina,
					'ctx2': lecturaLarga, 
					'tipoCliente': tipoCliente
					});
			};

			//Si no tiene parametro pg debe ser master y debe estar logeado
			var forzarUsuario = ($.urlParam('pg') == null || (opciones['slaveLoged'] || opciones['slaveIdUsr']));
			miseguridad.buscarUsuario(forzarUsuario, function(principal) {
				moduloPagina.leerTodo().then(function(contextoPagina) {
					var lecturaBasica = contextoPagina[0];
					var lecturaLarga = contextoPagina[1];
					funcionContinuar(principal, lecturaBasica, lecturaLarga);
				}, function(datos) {
					//Si usuario no logeado
				});
			});
		});
		
		//Se crea el espacio de trabajo
		diferidoDB.then(function(paquete) {
			console.log('diferidoDB ok');
			var db = paquete['database'];
			var ctx = paquete['ctx'];
			var ctx2 = paquete['ctx2'];
			var principal = paquete['principal'];
			var tipoCliente = paquete['tipoCliente'];
			
			if (tipoCliente == 'master') {
				console.log('master...');
				//Master:
				//La ruta de firebase debe quedar /pg/usrmaster/path/idpage/users
				var firebaseUrl = RAIZ + '/' + principal.uid + location.pathname + '/' + ctx['id'];//ruta dentro de firebase
				var slaveUrl;
				
				if (typeof location.search == 'string' && location.search.trim().length > 0) {
					slaveUrl = location.origin + location.pathname + (location.search.replace(/(^\?|&)(pg=\d+)($|&)/, function(a, b, c, d) {return b+d}))+'&'+$.param({'pg': ctx['id'], 'sl': 'si'});
					slaveUrl = slaveUrl.replace(/\?&/g, '?');
					slaveUrl = slaveUrl.replace(/&{2,}/g, '&');
				} else {
					slaveUrl = location.href + '?' + $.param({'pg': ctx['id'], 'sl': 'si'});
				}
				
				//Se debe hacer un post para obtener la ruta corta
				moduloHttp.post('/a/', {'theurl': slaveUrl}).then(function(respuesta) {
					console.log('a ok');
					//console.log('respuesta', respuesta);
					var crearMasterCtx = function() {
						var updates = {};
						updates[firebaseUrl] = {
								'base': {
									'time': new Date().getTime(),
								},
						};
						return db.ref().update(updates);
					};
					
					var notificarMasterCtx = function() {
						console.log('notificarMasterCtx ok');
						diferidoId.resolve({ 
							'slaveUrl': location.origin+'/a/'+respuesta['id'],
							'tipo': tipoCliente,
							'db': db,
							'firebaseUrl': firebaseUrl,
							'ctx': ctx,
							'ctx2': ctx2,
						});
					};
					
					db.ref(firebaseUrl).once('value').then(function(snapshot) {
						if (snapshot.val() == null) {
							crearMasterCtx().then(notificarMasterCtx);
						} else {
							notificarMasterCtx();
						}
					});
				});
			} else {
				console.log('slave...');
				var nuevaLlave;
				
				var urlParamCtx = RAIZ + '/' + ctx['usr'] + location.pathname + '/' + ctx['id']
				
				if (opciones['slaveIdUsr']) {
					nuevaLlave = principal.uid;
				} else {
					nuevaLlave = darIdAnonimo();
					if (nuevaLlave == null) {
						nuevaLlave = db.ref().child(urlParamCtx+'/usr').push().key;
						asignarIdAnonimo(nuevaLlave);	
					}
				}
				
				var firebaseUrl = urlParamCtx+'/usr/'+nuevaLlave;
				
				var crearSlaveCtx = function() {
					var updates = {};
					updates[firebaseUrl] = {
							'time': new Date().getTime(),
					};
					return db.ref().update(updates);
				};
				
				var notificarSlaveCtx = function() {
					diferidoId.resolve({
						'id': nuevaLlave, 
						'tipo': tipoCliente,
						'db': db,
						'firebaseUrl': firebaseUrl,
						'ctx': ctx,
						'ctx2': ctx2,
					});
				};
				
				db.ref(firebaseUrl).once('value').then(function(snapshot) {
					if (snapshot.val() == null) {
						crearSlaveCtx().then(notificarSlaveCtx);
					} else {
						notificarSlaveCtx();
					}
				});
			}
		});
		
		//Se muestra el id para los que se deseen conectar:
		diferidoId.then(function(datos) {
			console.log('diferidoId ok');
			console.log(datos);
			var divSlave = $('#imslave');
			var divMaster = $('#immaster');
			if (datos.tipo == 'master') {
				divSlave.remove();
				var elemQrCode = $('#qrcode');
				if (elemQrCode.length > 0) {
					elemQrCode.qrcode(datos.slaveUrl);	
				}
				divMaster.removeClass('invisible');
			} else {
				divMaster.remove();
				divSlave.removeClass('invisible');
			}
		});
		
		var afterSlave = function() {
			var ans = $.Deferred();
			diferidoId.then(function(datos) {
				if (datos.tipo == 'slave') {
					ans.resolve(datos);
				}
			});
			return ans;
		};
		
		var afterMaster = function() {
			var ans = $.Deferred();
			diferidoId.then(function(datos) {
				if (datos.tipo == 'master') {
					ans.resolve(datos);
				}
			});
			return ans;
		};
		
		return {
			'afterSlave': afterSlave,
			'afterMaster': afterMaster,
		};
	});
</script>