<script type="text/javascript">
	
	var moduloDatos = (function() {
		
		var leer = function() {
				
		};
		
		return {
			
		};
	})();
	
	var moduloPagina = (function() {
		
		var valorActual = null;
		var diferidoLectura = $.Deferred();
		
		var leer = function(opciones) {
			opciones = $.extend(true, {}, {
				'logged': false,
			}, opciones);
			miseguridad.buscarUsuario(opciones['logged'], function() {
				var pg = $.urlParam('pg');
				moduloHttp.get('/api/xpage/', false, {'pg': pg}).then(function(rta) {
					valorActual = moduloTransformacion.modo('simple').from(rta.valor);
					console.log(JSON.stringify(valorActual, null, 4));
					if (location.pathname != valorActual.path) {
						//Url mal armada, redirigir
						location.pathname = valorActual.path;
					} else {
						//Se prepara para leer el modelo de datos
						diferidoLectura.resolve(valorActual);
					}
				});
			});
			return diferidoLectura;
		};
		
		var guardar = function(nuevo) {
			diferidoLectura.then(function(valor) {
				var temp = moduloTransformacion.modo('simple').to(nuevo);
				moduloHttp.put('/api/xpage/'+valor.id, temp).then(function(rta) {
					valorActual = moduloTransformacion.modo('simple').from(rta.valor);
				});
			});
		};
		
		return {
			'leer': leer,
			'guardar': guardar,
		};
	})();
	
	var moduloIntMark = (function(opciones) {
		opciones = $.extend(true, {
			'masterLoged': false,
			'slaveLoged': false,
			'masterIdUsr': false,
			'slaveIdUsr': false,
		}, opciones);
		var RAIZ = 'pgs';
		var diferidoDB = $.Deferred();
		var diferidoId = $.Deferred();
		
		var urlParamCtx = $.urlParam('q');
		var LLAVE_LOCAL_STORAGE = MD5(location.href);
		var tipoCliente;
		if (utilidades.hayValorTexto(urlParamCtx)) {
			tipoCliente = 'slave';
		} else {
			tipoCliente = 'master';
		}
		
		var darIdAnonimo = function() {
			var temp = localStorage[LLAVE_LOCAL_STORAGE];
			if (temp === undefined) {
				return null;
			}
			return temp;
		};
		
		var asignarIdAnonimo = function(id) {
			localStorage[LLAVE_LOCAL_STORAGE] = id;
		};
		
		//Se espera a que se inicializa firebase:
		miseguridad.thenApp().then(function(datos) {
			
			var funcionContinuar = function(principal) {
				var database = firebase.database();
				diferidoDB.resolve({'database': database, 'principal': principal});
			};
			
			var forzarUsuario = ((tipoCliente == 'master' && (opciones['masterLoged'] || opciones['masterIdUsr'])) 
					|| (tipoCliente == 'slave' && (opciones['slaveLoged'] || opciones['slaveIdUsr'])));
			miseguridad.buscarUsuario(forzarUsuario, funcionContinuar);
			moduloPagina.leer();
		});
		
		//Se crea el espacio de trabajo
		diferidoDB.then(function(paquete) {
			var db = paquete['database'];
			var principal = paquete['principal'];
			
			if (tipoCliente == 'slave') {
				var nuevaLlave;
				
				if (opciones['slaveIdUsr']) {
					nuevaLlave = principal.uid;
				} else {
					nuevaLlave = darIdAnonimo();
					if (nuevaLlave == null) {
						nuevaLlave = db.ref().child(urlParamCtx+'/usr').push().key;
						asignarIdAnonimo(nuevaLlave);	
					}
				}
				
				var firebaseUrl = urlParamCtx+'/usr/'+nuevaLlave;
				
				var crearSlaveCtx = function() {
					var updates = {};
					updates[firebaseUrl] = {
							'time': new Date().getTime(),
					};
					return db.ref().update(updates);
				};
				
				var notificarSlaveCtx = function() {
					diferidoId.resolve({
						'id': nuevaLlave, 
						'tipo': tipoCliente,
					});
				};
				
				db.ref(firebaseUrl).once('value').then(function(snapshot) {
					if (snapshot.val() == null) {
						crearSlaveCtx().then(notificarSlaveCtx);
					} else {
						notificarSlaveCtx();
					}
				});
			} else {
				var nuevaLlave;
				
				if (opciones['masterIdUsr']) {
					nuevaLlave = principal.uid;
				} else {
					nuevaLlave = darIdAnonimo();
					if (nuevaLlave == null) {
						nuevaLlave = db.ref().child(RAIZ).push().key;
						asignarIdAnonimo(nuevaLlave);
					}
				}
				
				var masterCtx = location.pathname + '/' + nuevaLlave;
				var firebaseUrl = '/' + RAIZ + masterCtx;//ruta dentro de firebase
				var slaveUrl = location.href + '?' + $.param({'q': firebaseUrl});
				
				//Se debe hacer un post para obtener la ruta corta
				moduloHttp.post('/a', {'theurl': slaveUrl}).then(function(respuesta) {
					//console.log('respuesta', respuesta);
					var crearMasterCtx = function() {
						var updates = {};
						updates[firebaseUrl] = {
								'base': {
									'time': new Date().getTime(),
								},
						};
						return db.ref().update(updates);
					};
					
					var notificarMasterCtx = function() {
						diferidoId.resolve({
							'id': nuevaLlave, 
							'masterCtx': masterCtx,
							'slaveUrl': location.origin+'/a/'+respuesta['id'],
							'tipo': tipoCliente,
						});
					};
					
					db.ref(firebaseUrl).once('value').then(function(snapshot) {
						if (snapshot.val() == null) {
							crearMasterCtx().then(notificarMasterCtx);
						} else {
							notificarMasterCtx();
						}
					});
				});
			}
		});
		
		//Se muestra el id para los que se deseen conectar:
		diferidoId.then(function(datos) {
			console.log(datos);
			if (datos.tipo == 'master') {
				$('#qrcode').qrcode(datos.slaveUrl);
				$('#immaster').removeClass('invisible');
			} else {
				$('#imslave').removeClass('invisible');
			}
		});
		
		return {
			
		};
	})({
		'masterLoged': false,
		'masterIdUsr': false,
		
		'slaveLoged': false,
		'slaveIdUsr': false,
	});
	
</script>