<script type="text/javascript">

	var moduloIntMarkInst = moduloIntMark({
		'masterLoged': true,
		'masterIdUsr': true,
		'slaveLoged': true,
		'slaveIdUsr': true,
	});
	
	moduloIntMarkInst.afterMaster().then(function(datos) {
		console.log(datos);
		var db = datos['db'];
		var firebaseUrl = datos['firebaseUrl'];
		var procesarEventos = function(usuario, lista) {
			var pre = $('<pre></pre>');
			pre.text(JSON.stringify(lista))
			$('#vereventos').prepend(pre);
		};
		
		var ref = db.ref(firebaseUrl+'/usr');
		ref.on('value', function(snapshot) {
			var usuarios = snapshot.val();
			if (usuarios != null) {
				var idUsrs = Object.keys(usuarios);
				for (var i=0; i<idUsrs.length; i++) {
					var idUsr = idUsrs[i];
					var unUsr = usuarios[idUsr];
					var listaEventos = unUsr['ev'];
					if (listaEventos != null) {
						var idEvts = Object.keys(listaEventos);
						var listaLocal = [];
						var refEvts = db.ref(firebaseUrl+'/usr/'+idUsr+'/ev');
						var updates = {}; 
						for (var j=0; j<idEvts.length; j++) {
							var idEvt = idEvts[j];
							listaLocal.push(listaEventos[idEvt]);
							updates[idEvt] = null;
						}
						//Se deben borrar
						procesarEventos(idUsr, listaLocal);
						refEvts.update(updates);
					}
				}
			}
		});
	});
	
	moduloIntMarkInst.afterSlave().then(function(datos) {
		console.log(datos);
		var divSlave = $('#imslave'); 
		
		var mc = new Hammer(divSlave[0]);

		var funcionRealAgregarEvento = function(tipo) {
			var listaEventos = datos['firebaseUrl']+'/ev';
			var nuevaLlave = datos['db'].ref().child(listaEventos).push().key;
			var llaveEvento = listaEventos+'/'+nuevaLlave;
			var updates = {};
			updates[llaveEvento] = {
				't': tipo,
			};
			datos['db'].ref().update(updates);
		};
		
		var ultimoPan1 = null;
		var ultimoPan2 = null;
		var agregarEvento1 = function(tipo) {
			if (ultimoPan1 == null) {
				ultimoPan1 = tipo;
				funcionRealAgregarEvento(tipo);
			}
		};
		var agregarEvento2 = function(tipo) {
			if (ultimoPan2 == null) {
				ultimoPan2 = tipo;
				funcionRealAgregarEvento(tipo);
			}
		};
		
		mc.on("panend pancancel", function(ev) {
			ultimoPan1 = null;
			ultimoPan2 = null;
		});
		mc.on("panleft panright", function(ev) {
			divSlave.text(JSON.stringify(ev));
			agregarEvento1(ev.type);
		});
		mc.on("panup pandown", function(ev) {
			divSlave.text(JSON.stringify(ev));
			agregarEvento2(ev.type);
		});
		
		mc.on("tap press pinchin pinchout swipeleft swiperight swipeup swipedown", function(ev) {
			divSlave.text(JSON.stringify(ev));
			funcionRealAgregarEvento(ev.type);
		});
	});
	
</script>