<script type="text/javascript">
	
	var moduloDatos = (function() {
		
		var leer = function() {
				
		};
		
		return {
			
		};
	})();
	
	var moduloPagina = (function() {
		
		var hashActual = null;
		var valorActual = null;
		var diferidoLectura = $.Deferred();
		
		var esDiferente = function(dato) {
			return (hashActual != darHash(dato));
		};
		
		var tomarImagen = function() {
			hashActual = darHash(valorActual);
		};
		
		var darHash = function(dato) {
			return MD5(JSON.sortify(dato));
		};
		
		var leer = function(opciones) {
			opciones = $.extend(true, {}, {
				'logged': false,
			}, opciones);
			miseguridad.buscarUsuario(opciones['logged'], function() {
				var pg = $.urlParam('pg');
				moduloHttp.get('/api/xdoc/', false, {'pg': pg}).then(function(rta) {
					valorActual = moduloTransformacion.modo('simple').from(rta.valor);
					if (location.pathname != valorActual.path) {
						//Url mal armada, redirigir
						//console.log(location.pathname, valorActual.path);
						location.pathname = valorActual.path;
					} else {
						//Se prepara para leer el modelo de datos
						tomarImagen();
						diferidoLectura.resolve(valorActual);
					}
				}, function() {
					diferidoLectura.reject();
				});
			});
			return diferidoLectura;
		};
		
		var guardar = function(nuevo) {
			var diferido = $.Deferred();
			if (esDiferente(nuevo)) {
				diferidoLectura.then(function(valor) {
					var temp = moduloTransformacion.modo('simple').to(nuevo);
					moduloHttp.put('/api/xdoc/'+valor.id, temp).then(function(rta) {
						valorActual = moduloTransformacion.modo('simple').from(rta.valor);
						tomarImagen();
						diferido.resolve(valorActual);
					});
				}, function() {
					diferido.reject();
				});
			} else {
				diferido.resolve(valorActual);
			}
			return diferido;
		};
		
		return {
			'leer': leer,
			'guardar': guardar,
		};
	})();
	
	var moduloIntMark = (function(opciones) {
		opciones = $.extend(true, {
			'masterLoged': false,
			'slaveLoged': false,
			'masterIdUsr': false,
			'slaveIdUsr': false,
		}, opciones);
		var RAIZ = '/pgs';
		var diferidoDB = $.Deferred();
		var diferidoId = $.Deferred();
		
		var LLAVE_LOCAL_STORAGE = MD5(location.href);
		
		var darIdAnonimo = function() {
			var temp = localStorage[LLAVE_LOCAL_STORAGE];
			if (temp === undefined) {
				return null;
			}
			return temp;
		};
		
		var asignarIdAnonimo = function(id) {
			localStorage[LLAVE_LOCAL_STORAGE] = id;
		};
		
		//Se espera a que se inicializa firebase:
		miseguridad.thenApp().then(function(datos) {
			
			var funcionContinuar = function(principal, contextoPagina) {
				var database = firebase.database();
				var tipoCliente = (((principal !== undefined && principal !== null) && contextoPagina['usr'] == principal['uid']) ? 'master' : 'slave');
				diferidoDB.resolve({
					'database': database, 
					'principal': principal, 
					'ctx': contextoPagina, 
					'tipoCliente': tipoCliente
					});
			};
			
			moduloPagina.leer().then(function(contextoPagina) {
				//Si no tiene parametro pg debe ser master y debe estar logeado
				var forzarUsuario = ($.urlParam('pg') == null || (opciones['slaveLoged'] || opciones['slaveIdUsr']));
				miseguridad.buscarUsuario(forzarUsuario, function(principal) {
					funcionContinuar(principal, contextoPagina);
				});
			}, function(datos) {
				//Si usuario no logeado
			});
		});
		
		//Se crea el espacio de trabajo
		diferidoDB.then(function(paquete) {
			var db = paquete['database'];
			var ctx = paquete['ctx'];
			var principal = paquete['principal'];
			var tipoCliente = paquete['tipoCliente'];
			
			if (tipoCliente == 'master') {
				//Master:
				//La ruta de firebase debe quedar /pg/usrmaster/path/idpage/users
				var firebaseUrl = RAIZ + '/' + principal.uid + location.pathname + '/' + ctx['id'];//ruta dentro de firebase
				var slaveUrl = location.href + '?' + $.param({'pg': ctx['id']});
				
				//Se debe hacer un post para obtener la ruta corta
				moduloHttp.post('/a', {'theurl': slaveUrl}).then(function(respuesta) {
					//console.log('respuesta', respuesta);
					var crearMasterCtx = function() {
						var updates = {};
						updates[firebaseUrl] = {
								'base': {
									'time': new Date().getTime(),
								},
						};
						return db.ref().update(updates);
					};
					
					var notificarMasterCtx = function() {
						diferidoId.resolve({ 
							'slaveUrl': location.origin+'/a/'+respuesta['id'],
							'tipo': tipoCliente,
							'db': db,
							'firebaseUrl': firebaseUrl,
							'ctx': ctx,
						});
					};
					
					db.ref(firebaseUrl).once('value').then(function(snapshot) {
						if (snapshot.val() == null) {
							crearMasterCtx().then(notificarMasterCtx);
						} else {
							notificarMasterCtx();
						}
					});
				});
			} else {
				var nuevaLlave;
				
				var urlParamCtx = RAIZ + '/' + ctx['usr'] + location.pathname + '/' + ctx['id']
				
				if (opciones['slaveIdUsr']) {
					nuevaLlave = principal.uid;
				} else {
					nuevaLlave = darIdAnonimo();
					if (nuevaLlave == null) {
						nuevaLlave = db.ref().child(urlParamCtx+'/usr').push().key;
						asignarIdAnonimo(nuevaLlave);	
					}
				}
				
				var firebaseUrl = urlParamCtx+'/usr/'+nuevaLlave;
				
				var crearSlaveCtx = function() {
					var updates = {};
					updates[firebaseUrl] = {
							'time': new Date().getTime(),
					};
					return db.ref().update(updates);
				};
				
				var notificarSlaveCtx = function() {
					diferidoId.resolve({
						'id': nuevaLlave, 
						'tipo': tipoCliente,
						'db': db,
						'firebaseUrl': firebaseUrl,
					});
				};
				
				db.ref(firebaseUrl).once('value').then(function(snapshot) {
					if (snapshot.val() == null) {
						crearSlaveCtx().then(notificarSlaveCtx);
					} else {
						notificarSlaveCtx();
					}
				});
			}
		});
		
		//Se muestra el id para los que se deseen conectar:
		diferidoId.then(function(datos) {
			console.log(datos);
			if (datos.tipo == 'master') {
				$('#qrcode').qrcode(datos.slaveUrl);
				$('#immaster').removeClass('invisible');
			} else {
				var divSlave = $('#imslave'); 
				divSlave.removeClass('invisible');
			}
		});
		
		var afterSlave = function() {
			var ans = $.Deferred();
			diferidoId.then(function(datos) {
				if (datos.tipo == 'slave') {
					ans.resolve(datos);
				}
			});
			return ans;
		};
		
		var afterMaster = function() {
			var ans = $.Deferred();
			diferidoId.then(function(datos) {
				if (datos.tipo == 'master') {
					ans.resolve(datos);
				}
			});
			return ans;
		};
		
		return {
			'afterSlave': afterSlave,
			'afterMaster': afterMaster,
		};
	});
	
	
	
	var moduloIntMarkInst = moduloIntMark({
		'masterLoged': true,
		'masterIdUsr': true,
		'slaveLoged': true,
		'slaveIdUsr': true,
	});
	
	moduloIntMarkInst.afterMaster().then(function(datos) {
		var db = datos['db'];
		var firebaseUrl = datos['firebaseUrl'];
		var procesarEventos = function(usuario, lista) {
			var pre = $('<pre></pre>');
			pre.text(JSON.stringify(lista))
			$('#vereventos').prepend(pre);
		};
		
		var ref = db.ref(firebaseUrl+'/usr');
		ref.on('value', function(snapshot) {
			var usuarios = snapshot.val();
			if (usuarios != null) {
				var idUsrs = Object.keys(usuarios);
				for (var i=0; i<idUsrs.length; i++) {
					var idUsr = idUsrs[i];
					var unUsr = usuarios[idUsr];
					var listaEventos = unUsr['ev'];
					if (listaEventos != null) {
						var idEvts = Object.keys(listaEventos);
						var listaLocal = [];
						var refEvts = db.ref(firebaseUrl+'/usr/'+idUsr+'/ev');
						var updates = {}; 
						for (var j=0; j<idEvts.length; j++) {
							var idEvt = idEvts[j];
							listaLocal.push(listaEventos[idEvt]);
							updates[idEvt] = null;
						}
						//Se deben borrar
						procesarEventos(idUsr, listaLocal);
						refEvts.update(updates);
					}
				}
			}
		});
	});
	
	moduloIntMarkInst.afterSlave().then(function(datos) {
		var divSlave = $('#imslave'); 
		
		var mc = new Hammer(divSlave[0]);

		var funcionRealAgregarEvento = function(tipo) {
			var listaEventos = datos['firebaseUrl']+'/ev';
			var nuevaLlave = datos['db'].ref().child(listaEventos).push().key;
			var llaveEvento = listaEventos+'/'+nuevaLlave;
			var updates = {};
			updates[llaveEvento] = {
				't': tipo,
			};
			datos['db'].ref().update(updates);
		};
		
		var ultimoPan1 = null;
		var ultimoPan2 = null;
		var agregarEvento1 = function(tipo) {
			if (ultimoPan1 == null) {
				ultimoPan1 = tipo;
				funcionRealAgregarEvento(tipo);
			}
		};
		var agregarEvento2 = function(tipo) {
			if (ultimoPan2 == null) {
				ultimoPan2 = tipo;
				funcionRealAgregarEvento(tipo);
			}
		};
		
		mc.on("panend pancancel", function(ev) {
			ultimoPan1 = null;
			ultimoPan2 = null;
		});
		mc.on("panleft panright", function(ev) {
			divSlave.text(JSON.stringify(ev));
			agregarEvento1(ev.type);
		});
		mc.on("panup pandown", function(ev) {
			divSlave.text(JSON.stringify(ev));
			agregarEvento2(ev.type);
		});
		
		mc.on("tap press pinchin pinchout swipeleft swiperight swipeup swipedown", function(ev) {
			divSlave.text(JSON.stringify(ev));
			funcionRealAgregarEvento(ev.type);
		});
	});
	
</script>