<script type="text/javascript">
var crearScanner = function() {
    let scanner = new Instascan.Scanner({ mirror: true, video: document.getElementById('preview') });
    scanner.addListener('scan', function (content) {
        if (content.startsWith(window.location.origin)) {
            var win = window.open(content, '_blank');
            win.focus();
        }
    });
    
    var camaras = null;
    var camarai = 0;
    
    Instascan.Camera.getCameras().then(function (cameras) {
      camaras = cameras;
      if (cameras.length > 0) {
        scanner.start(cameras[camarai]);
      } else {
        console.error('No cameras found.');
      }
    }).catch(function (e) {
      console.error(e);
    });
  
  $('#togglecamera').on('click', function() {
      if (esLista(camaras) && camaras.length > 1) {
          camarai++;
          if (camarai > (camaras.length - 1)) {
              camarai = 0;
          }
          scanner.stop();
          scanner.start(camaras[camarai]);
      }
  });
  
  $('#mirrorcamera').on('click', function() {
      scanner.mirror = !scanner.mirror;
  });
};

crearScanner();
</script>
