<label>Cargar archivo:</label>
<input class="miinputfile" type="file" multiple file-model="interno.archivo" evento="cargarArchivos" />
<p ng-repeat="(key, value) in entrenamiento"><span>Clase: {{ key }}</span>, <span>Tamaño: {{ value.length }}</span><p>
<button ng-click="entrenar()">Entrenar</button>
<div class="col-xs-12 vismeyda"></div>
<div class="panes">
	<div class="pane">
 		<canvas class="viscanvas" width="400" height="400">Browser not supported for Canvas. Get a real browser.</canvas>
	</div>
	<div class="pane">
 		<canvas class="NPGcanvas" width="400" height="400">Browser not supported for Canvas. Get a real browser.</canvas>
	</div>
</div>