<script type="text/javascript">


  /*
  VAD:
  https://pulakk.github.io/Live-Audio-MFCC/tutorial
  https://meyda.js.org/audio-features.html

  contenteditable:
  https://codepen.io/meiriko/pen/zGoKoO
  */

var esTxtVacio = function(val) {
  return ((typeof val == 'string' && val.trim().length == 0) || val == null);
};

var subModuloSinc = {
   'funDarModelo': null,
   'funFinSinc': null,
};

  var moduloIntMarkInst = moduloIntMark({
    'masterLoged': true,
    'masterIdUsr': true,
    'slaveLoged': true,
    'slaveIdUsr': true,
    'useFirebase': true,
    'sincronizar': subModuloSinc,
  });

  var app = angular.module('myApp', [
    //'ngRoute',
    'ui.router',
    'mobile-angular-ui',
    'mobile-angular-ui.gestures',
    'minicolors',
  ]).config(function(minicolorsProvider, $stateProvider, $urlRouterProvider) {
      $urlRouterProvider.otherwise("/");
      $stateProvider.state('/', {url:'/', templateUrl: "/assets/1/voz/vista.html"});
      $stateProvider.state('debug', {url: '/debug', templateUrl: '/assets/1/voz/debug.html', reloadOnSearch: false});
      $stateProvider.state('galeria', {url: '/galeria', templateUrl: '/assets/1/voz/galeria.html', reloadOnSearch: false});
      $stateProvider.state('propiedades', {url: '/propiedades', templateUrl: '/assets/1/voz/propiedades.html', reloadOnSearch: false});
      $stateProvider.state('meta', {url: '/meta', templateUrl: '/assets/1/voz/meta.html', reloadOnSearch: false});

      angular.extend(minicolorsProvider.defaults, {
        control: 'hue',
        theme: 'bootstrap',
        position: 'top left'
      });
    });

  app.run(function($transform) {
    window.$transform = $transform;
  });
  
app.filter('filtrarobj', function() {
	var siempreTexto = function(obj, llave) {
		var unTexto = obj[llave];
		if (typeof unTexto == 'string' && unTexto.trim().length > 0) {
			return unTexto+' ';
		}
		return '';
	};
  return function(input, busqueda) {
	  if (typeof busqueda == 'string' && busqueda.trim().length > 0) {
		  busqueda = busqueda.toLowerCase();
		  var ans = {};
		  var llaves = Object.keys(input);
		  for (var i=0; i<llaves.length; i++) {
			  var idPer = llaves[i];
			  var unaPer = input[idPer];
			  
			  var texto = '';
			  var subllaves = Object.keys(unaPer);
			  for (var k=0; k<subllaves.length; k++) {
				  texto += siempreTexto(unaPer, subllaves[k]);
			  }
			  texto = texto.toLowerCase();
			  if (texto.indexOf(busqueda) >= 0) {
				  ans[idPer] = unaPer;
			  }
		  }
		  return ans;
	  } else {
		  return input;
	  }
  }
});

app.filter('orderbyobjectkey', function() {
  return function(objeto) {
	  var lista = [];
	  if ([null, undefined].indexOf(objeto) >= 0) {
		  return lista;
	  }
	  var llaves = Object.keys(objeto);
	  llaves = llaves.sort();
	  for (var i=0; i<llaves.length; i++) {
		  var llave = llaves[i];
		  lista.push(objeto[llave]);
	  }
	  return lista;
  }
});

app.filter('ord2num', function() {
	return function(objeto) {
		return modIdGen.ord2num(objeto);
	}
});
  
app.directive("contenteditable", function () {
        return {
            restrict: "A",
            require: "ngModel",
            link: function (scope, element, attrs, ngModel) {
                // read is the main handler, invoked here by the blur event
                function read() {
                    // Keep the newline value for substitutin
                    // when cleaning the <br>
                    //var newLine = String.fromCharCode(10);
                    // Firefox adds a <br> for each new line, we replace it back
                    // to a regular '\n'
                    //var formattedValue = element.html().replace(/<br>/ig,newLine).replace(/\r/ig,'');
                    var formattedValue = element.text();
                    // update the model
                    ngModel.$setViewValue(formattedValue);
                    // Set the formated (cleaned) value back into
                    // the element's html.
                    element.text(formattedValue);
                }

                ngModel.$render = function () {
                    var datoFinal = ngModel.$viewValue || "";
                    element.html(datoFinal);
                };

                element.bind("blur", function () {
                    // update the model when
                    // we loose focus
                    scope.$apply(read);
                });
                element.bind("paste", function(e){
                    // This is a tricky one
                    // when copying values while
                    // editing, the value might be
                    // copied with formatting, for example
                    // <span style="line-height: 20px">copied text</span>
                    // to overcome this, we replace
                    // the default behavior and
                    // insert only the plain text
                    // that's in the clipboard
                    e.preventDefault();
                    document.execCommand('inserttext', false, e.clipboardData.getData('text/plain'));
                });
            }
        };
    });

app.directive("directvozmichart", function () {
        return {
            restrict: "C",
            require: "ngModel",
            link: function (scope, element, attrs, ngModel) {

                ngModel.$render = function () {
                    console.log('directvozmichart', JSON.stringify(ngModel.$viewValue), element);
                    var miModelo = ngModel.$viewValue;

                    var opciones = miModelo.opciones;
                    var llavesOpciones = Object.keys(opciones);
                    var COLORES = [];
                    var LABELS = [];
                    for (var i=0; i<llavesOpciones.length; i++) {
                      var llaveOpcion = llavesOpciones[i];
                      var unaOpcion = opciones[llaveOpcion];
                      COLORES.push(unaOpcion.rgb);
                      LABELS.push('');
                    }

                    var horizontalBarChartData = {
                        labels: LABELS,
                        datasets: [{
                          label: '',
                          backgroundColor: COLORES,
                          borderColor: COLORES,
                          borderWidth: 1,
                          data: miModelo.resultado.data,
                        }]
                      };
                    var config = {
                      indexLabelFontSize: 20,
                      type: 'bar',
                      data: horizontalBarChartData,
                      options: {
                        // Elements options apply to all of the options unless overridden in a dataset
                        // In this case, we are setting the border of each horizontal bar to be 2px wide
                        elements: {
                          rectangle: {
                            borderWidth: 2,
                          }
                        },
                        responsive: true,
                        title: {
                          display: false,
                        },
                        aspectRatio: 2,
                        scales: {
                          xAxes: [{
                            display: true,
                            ticks: {
                              beginAtZero: true,
                              max: 100,
                              fontSize: 20,
                            },
                          }],
                          yAxes: [{
                            display: true,
                            ticks: {
                              beginAtZero: true,
                              max: 100,
                            },
                          }]
                        },
                        legend: {
                          display: false,
                        },
                      }
                    };
                    var ctx = element[0].getContext('2d');
                    var miDona = new Chart(ctx, config);

                };
            }
        };
    });

app.controller('MainController', function($rootScope, $scope, $state) {
	
  $scope.borrarTodo = function() {
	  $scope.metadata.ctx2.per = {};
	  $scope.metadata.ctx2.hist = {};
	  $scope.guardarTodo();
  };
	
  $scope.temporal = {
	'q': '', 
	'strict': false,
	'rta': [],
    'next': null,
  };

  $scope.metadata = {
    'ctx2': {},
    'principal': {
      'uid': null,
    }
  };
  
  $scope.darTodo = function(a) {
	  return a;
  }
  
  $scope.primeroEnObj = function(detalles, alreves) {
	  if ([null, undefined].indexOf(detalles) >= 0) {
		  return null;
	  }
	var llaves = Object.keys(detalles);
	if (llaves.length == 0) {
		return null;
	}
	var primeraLlave;
	var temp = llaves.sort();
	if (alreves === true) {
		primeraLlave = temp[temp.length - 1];
	} else {
		primeraLlave = temp[0];	
	}
	
	return {'llave': primeraLlave, 'valor': detalles[primeraLlave]};
  };
  
  $scope.slaveUrl = null;
  
  //Se reconfigura el módulo de sincronización
  subModuloSinc.funDarModelo = function() {
	  return $scope.metadata.ctx2;
  };
  subModuloSinc.funFinSinc = function() {
	  $scope.$digest();
  };
  
  moduloIntMarkInst.afterAny().then(function(datos) {
    console.log(datos);
    $scope.slaveUrl = datos.slaveUrl;
    $.extend(true, $scope.metadata, datos);
    $scope.$digest();
    diferidoDatos.resolve(datos);
  });

  var diferidoCargue = null;
  var diferidoDatos = $.Deferred();
  // Needed for the loading screen
  $rootScope.$on('$routeChangeStart', function() {
    $rootScope.loading = true;
    diferidoCargue = moduloActividad.on();
  });

  $rootScope.$on('$routeChangeSuccess', function() {
    $rootScope.loading = false;
    diferidoCargue.resolve();
  });
  
  $scope.redirigir = function(estado) {
    $state.go(estado);
  };
  
  $scope.inicializar = function() {
	  diferidoDatos.then(function() {
		var paramsActuales = moduloP5.getParams();
		$.extend(true, paramsActuales, $scope.metadata.ctx2.params);
		$scope.metadata.ctx2.params = paramsActuales;
		$scope.darDetalleActual().then(function() {
			$scope.$digest();	
		});
	  });
  };
  
  $scope.asignarParams = function() {
	  moduloP5.setParams($scope.metadata.ctx2.params);
  };
  
  $scope.borrarAudio = function(miaudio) {
    $rootScope.Ui.turnOn('modalBorrar');
    $scope.diferidoBorrado = $.Deferred();
    $scope.diferidoBorrado.then(function() {
      	var indice = $scope.metadata.ctx2.archivos.indexOf(miaudio);
        var diferidoBorrar = moduloArchivos.borrar(moduloArchivos.darIdDadoUrl(decodeURIComponent(miaudio.url)));
        diferidoBorrar.then(function() {
        	$scope.metadata.ctx2.archivos.splice(indice, 1);
        	$scope.guardarTodo();
            $scope.$digest();
        });
    });
  };
  
  $scope.darIdInterlocutor = function() {
	  //Se debe determinar quién es la persona que está hablando
	  
  }
  
  $scope.darDetalleActual = function() {
	  var diferido = $.Deferred();
	  if ([null, undefined].indexOf($scope.metadata.ctx2.hist) >= 0) {
		  $scope.metadata.ctx2.hist = {};
	  }
	  var detalleUltimo = $scope.primeroEnObj($scope.metadata.ctx2.hist, true);
	  console.log('detalleUltimo', detalleUltimo, JSON.stringify($scope.metadata.ctx2.hist));
	  if ([null, undefined].indexOf(detalleUltimo) >= 0) {
		  modIdGen.nuevo().then(function(idDetalle) {
			  $scope.metadata.ctx2.hist[idDetalle] = {
		                "tipo": "voz",
		                "modo": "voz",
		                "tit": (new Date(modIdGen.ord2num(idDetalle))).toLocaleString(),
		                "odd": true,
		                "det": {},
			  };
			  diferido.resolve({'valor': $scope.metadata.ctx2.hist[idDetalle], 'llave': idDetalle});
		  });
	  } else {
		  diferido.resolve(detalleUltimo);
	  }
	  return diferido;
  };
  
  $scope.handlerNuevoSonido = function(contenido) {
	  /*
      if (!($scope.metadata.ctx2.archivos instanceof Array)) {
      	$scope.metadata.ctx2.archivos = [];
      }
      $scope.metadata.ctx2.archivos.push(contenido);
      //Se debe guardar sin indicador de actividad
      $scope.guardarTodo({'actividad': false});
      $scope.$digest();
      */
      $scope.darDetalleActual().then(function(todo) {
    	  var detalle = todo.valor;
    	  	  var idAudio = contenido.id;
    	  	  delete contenido.id;
    	  	  
        	  var nuevo = {
                  "aud": contenido.url,
                  "txt": {},
              };
        	  
        	  nuevo.txt[idAudio] = {
                  "txt": utilidades.leerObj(contenido, 'det.results.0.alternatives.0.transcript', 'pendiente...'),
                  "usr": "admin",//El usuario logeado
                  "per": "dfd233"//El usuario
              };
        	  
        	  detalle.det[idAudio] = nuevo;
        	  
              //Se debe guardar sin indicador de actividad
              $scope.guardarTodo({'actividad': false});
              $scope.$digest();
      });
  };
  
  $scope.capturar = function() {
	diferidoDatos.then(function() {
		moduloP5.init($('#canvasVoice'), function(soundBlob) {
			$scope.handlerNuevoSonido(soundBlob);
	    });
		moduloP5.activar();
	});
  };
  
  $scope.detener = function() {
	  moduloP5.detener();
  }
  
  $scope.guardarTodo = function(opciones) {
	  opciones = $.extend(true, {
		  'actividad': true,
	  }, opciones);
    var diferidoGuardado = null;
    if (opciones.actividad !== false) {
    	diferidoGuardado = moduloActividad.on();	
    } else {
    	diferidoGuardado = $.Deferred();
    }
    if (typeof angular == 'undefined') {
      angular = {
        toJson: JSON.stringify,
      };
    }
    var diferido2 = moduloPagina.guardar2(JSON.parse(angular.toJson($scope.metadata.ctx2)), undefined, true, opciones);
    var diferido1 = moduloPagina.guardar(JSON.parse(angular.toJson($scope.metadata.ctx)), opciones);
    all([diferido1.promise, diferido2.promise]).then(function() {
    	diferidoGuardado.resolve();
    });
    return diferidoGuardado;
  };
  
  $scope.mostrarAlgoEnGaleria = function() {
    if ($scope.temporal.rta.length > 0) {
      return;
    }
    $scope.buscar();
  };
  
  $scope.buscar = function() {
    $scope.temporal.rta = [];
    $scope.temporal.next = null;
    moduloPagina.buscar($scope.temporal.q).then(function(rta) {
      for (var i=0; i<rta.valor.length; i++) {
        $scope.temporal.rta.push(moduloTransformacion.modo('simple').from(rta.valor[i], true));
      }
      $scope.temporal.next = rta.next;
      $scope.$digest();
    }, function() {
      
    });
  };
  
  var darUrlDeArchivo = function(id, predef, local) {
    if (typeof id == 'string' && id.length > 0) {
      return moduloArchivos.generarUrlDadoId(id, local);
    } else {
      return predef;
    }
  };
  
  $scope.asignarImagenDePagina = function(base, prefijo) {
	  var diferido = $.Deferred();
	  moduloArchivos.subirArchivoMioDePagina({
        auto: 'false', 
        tipos: 'image/*', 
        opcionesNegras: [],
        dataFolder:prefijo,
      }).then(function(metadata) {
    	  base.img = metadata.id;
    	  $scope.guardarTodo();
    	  $scope.$digest();
      });
  };
  
  $scope.darUrlDeIdImagen = function(id) {
    return darUrlDeArchivo(id, '/assets/1/voz/img/def.svg', false);
  };
  
  $scope.verDetalle = function(ctx) {
    var id = ctx.id;
    var nuevaUrl = location.pathname.replace(/\d*$/, '')+'?pg='+id+'#!/';
    var win = window.open(nuevaUrl, '_blank');
    win.focus();
  };

  $scope.redirigir = function(estado) {
    $state.go(estado);
  };
  
  $scope.diferidoBorrado = null;
  $scope.borrarEfectivo = function() {
    $scope.diferidoBorrado.resolve();
  };
  
  $scope.borrarUno = function(instancia) {

    $rootScope.Ui.turnOn('modalBorrar');
    $scope.diferidoBorrado = $.Deferred();
    $scope.diferidoBorrado.then(function() {
      moduloPagina.borrarTodo(instancia.id).then(function() {
        //Lo debo sacar de la lista
        var indice = $scope.temporal.rta.indexOf(instancia);
        if (indice >= 0) {
          $scope.temporal.rta.splice(indice, 1);
          $scope.$digest();
        }
      });
    });
  };

  $scope.esTxt = function(val) {
    return (typeof val == 'string');
  };

  $scope.esTxtVacio = function(val) {
    return ((typeof val == 'string' && val.trim().length == 0) || val == null);
  }

  $scope.clickResumen = function(event) {
    var dx = event.originalEvent.offsetX;
    var dy = event.originalEvent.offsetY;
    if (dx > 11 && dx <24 && dy > 13 && dy < 26) {
      $(event.currentTarget).toggleClass('cerrado');
    }
  };
  
  $scope.darLlaveDeDetalle = function(tupla, miverso) {
	  var llaves = Object.keys(miverso.det);
	  for (var i=0; i<llaves.length; i++) {
		  var llave = llaves[i];
		  var obj = miverso.det[llave];
		  if (obj === tupla) {
			  return llave;
		  }
	  }
	  return null;
  };
  
  $scope.clickVerso = function(tupla, acc, miverso) {
	  if (acc == 'play') {
		  var llave =$scope.darLlaveDeDetalle(tupla, miverso);
		  moduloReproduccion.play(llave, $scope.metadata.ctx2.hist);
	  }
  };

  $scope.toggleModo = function(verso) {
    var MODOS_TIPO = {
      'voz': ['voz'],
      'chart': ['chart', 'voz'],
    };
    var modos = MODOS_TIPO[verso.tipo];
    if (modos instanceof Array) {
      var indice = (modos.indexOf(verso.modo));
      indice++;
      if (indice >= modos.length) {
        indice = 0;
      }
      verso.modo = modos[indice];
      setTimeout(function() {
        $scope.$digest();
      });
    }
  };

  $scope.agregarOpcion = function(verso) {
    if (!(typeof verso.chart.opciones == 'object')) {
      verso.chart.opciones = {};
    }
    
    modIdGen.nuevo().then(function(id) {
      verso.chart.opciones[id] = {
        'rgb': 'red',
        'txt': 'Opción',
      };
      //Acá se debe ajustar el color de todas las opciones
      $scope.$digest();
    });
  };

  $scope.borrarOpcion = function(llave, lista) {
    delete lista[llave];
  };
  
  $scope.interpretarImagen = function(imageId) {
	  if (typeof imageId == 'string') {
		  return moduloArchivos.generarUrlDadoId2(imageId);
	  } else {
		  return '/assets/img/user.jpg';
	  }
  };
  
  $scope.tomarFoto = function(objeto) {
	  var opciones = {
			  'dir': '/usr',
			  'id': objeto.img,
	  };
	  moduloCapturaImagen.leer(opciones).then(function(respuesta) {
		  //Sí la tomó
		  objeto.img = respuesta.id;
		  $scope.$digest();
	  }, function() {
		  //Canceló
	  });
  };
  
  $scope.inicializarRedNeuronal = function() {
	  mipredictor.inicializar();
  };
  
  $scope.agregarPropiedad = function() {
	  var nombre = $scope.temporal.q;
	  if (typeof nombre == 'string' && nombre.trim().length > 0) {
		  var template = {
	       	'nom': nombre,
	       	'email': '',
	       	'cel': null,
			'coef': 1,
			'humId': '',
			'img': null,
		  };
		  modIdGen.nuevo().then(function(uid) {
			  $scope.metadata.ctx2.per[uid] = template;
			  $scope.$digest();
		  });
	  } else {
		  alert('Debe escribir un criterio de búsqueda');
	  }
  };
  
  $scope.borrarPropiedad = function(idProp, valorProp) {
	  
	$rootScope.Ui.turnOn('modalBorrar');
	$scope.diferidoBorrado = $.Deferred();
	$scope.diferidoBorrado.then(function() {
		var diferidoBorrado = moduloActividad.on();
		 var funFinal = function() {
			 delete $scope.metadata.ctx2.per[idProp];
			 $scope.$digest();
			 diferidoBorrado.resolve();
		 };
		 //Se debe borrar la imágen en caso de que exista
		 if (valorProp.img != null) {
			 moduloArchivos.borrar(valorProp.img).then(function() {
				 funFinal();
			 }, function() {
				 //Alertar que se debe reintentar
				 $rootScope.Ui.turnOn('modalError');
				 diferidoBorrado.resolve();
			 });
		 } else {
			 funFinal();
		 }
	});
  };
  
  $scope.darIdMiVerso = function(miverso) {
	var objeto = $scope.metadata.ctx2.hist;
	if ([null, undefined].indexOf(objeto) >= 0) {
		return null;
	}
	var llaves = Object.keys(objeto);
	for (var i=0; i<llaves.length; i++) {
		var llave = llaves[i];
		var actual = $scope.metadata.ctx2.hist[llave];
		if (miverso == actual) {
			return i;
		}
	}
	return -1;
  };
  
  $scope.asignarVotacionActual = function(miverso) {
	  var indice = $scope.darIdMiVerso(miverso);
	  var actual = utilidades.leerObj($scope.metadata.ctx2, 'global.votacion',null);
	  var nuevo = 'hist.'+indice+'.chart'
	  if (actual == null || actual != nuevo) {
		  utilidades.asignarObj($scope.metadata.ctx2, 'global.votacion', nuevo);
	  } else {
		  utilidades.asignarObj($scope.metadata.ctx2, 'global.votacion', null);
	  }
	  $scope.guardarTodo();
  };
  
  document.addEventListener ("keydown", function (event) {
	  if (event.shiftKey && event.ctrlKey) {
		  if (event.which == 65) {//1
    		//Shift+Ctrl+A guarda
    		//Copiar en el portapapeles todo el modelo
    		if (event.altKey) {
    			copyToClipboard(utilidades.stringifyNoCircular($scope.metadata, null, 4));	
    		} else {
    			copyToClipboard(utilidades.stringifyNoCircular($scope.metadata));
    		}
	  		alert('Copiado en el potapapeles!');
		  } else if (event.which == 86) {//22
	    		//Shit+Ctrl+V
	    		//Pegar desde el portapapeles y ejecutar
				var funcionFinal = function(text) {
			  		try {
			  			var objeto = JSON.parse(text);
			  			var llaves = ['ctx2'];
			  			for (var i=0; i<llaves.length; i++) {
			  				var llave = llaves[i];
			  				var nuevoObjeto = objeto[llave];
			  				$scope.metadata[llave] = nuevoObjeto;
			  			}
			  			$scope.$digest();
			  			$scope.guardarTodo();
			  		} catch (e) {
			  			alert('El contenido no se logró recuperar');
			  		}
				  	
				};

				utilidades.pegar(funcionFinal);
	      }
	  }
  });

});
</script>