<script type="text/javascript">


  /*
  VAD:
  https://pulakk.github.io/Live-Audio-MFCC/tutorial
  https://meyda.js.org/audio-features.html

  contenteditable:
  https://codepen.io/meiriko/pen/zGoKoO
  */

var esTxtVacio = function(val) {
  return ((typeof val == 'string' && val.trim().length == 0) || val == null);
};

var subModuloSinc = {
   'funDarModelo': null,
   'funFinSinc': null,
};

  var moduloIntMarkInst = moduloIntMark({
    'masterLoged': true,
    'masterIdUsr': true,
    'slaveLoged': true,
    'slaveIdUsr': true,
    'useFirebase': true,
    'sincronizar': subModuloSinc,
  });

  var app = angular.module('myApp', [
    //'ngRoute',
    'ui.router',
    'mobile-angular-ui',
    'mobile-angular-ui.gestures',
    'minicolors',
  ]).config(function(minicolorsProvider, $stateProvider, $urlRouterProvider) {
      $urlRouterProvider.otherwise("/");
      $stateProvider.state('/', {url:'/', templateUrl: "/assets/1/voz/vista.html"});
      $stateProvider.state('debug', {url: '/debug', templateUrl: '/assets/1/voz/debug.html', reloadOnSearch: false});
      $stateProvider.state('galeria', {url: '/galeria', templateUrl: '/assets/1/voz/galeria.html', reloadOnSearch: false});
      $stateProvider.state('propiedades', {url: '/propiedades', templateUrl: '/assets/1/voz/propiedades.html', reloadOnSearch: false});

      angular.extend(minicolorsProvider.defaults, {
        control: 'hue',
        theme: 'bootstrap',
        position: 'top left'
      });
    });

  app.run(function($transform) {
    window.$transform = $transform;
  });
  
app.filter('filtrarobj', function() {
	var siempreTexto = function(obj, llave) {
		var unTexto = obj[llave];
		if (typeof unTexto == 'string' && unTexto.trim().length > 0) {
			return unTexto+' ';
		}
		return '';
	};
  return function(input, busqueda) {
	  if (typeof busqueda == 'string' && busqueda.trim().length > 0) {
		  busqueda = busqueda.toLowerCase();
		  var ans = {};
		  var llaves = Object.keys(input);
		  for (var i=0; i<llaves.length; i++) {
			  var idPer = llaves[i];
			  var unaPer = input[idPer];
			  
			  var texto = '';
			  var subllaves = Object.keys(unaPer);
			  for (var k=0; k<subllaves.length; k++) {
				  texto += siempreTexto(unaPer, subllaves[k]);
			  }
			  texto = texto.toLowerCase();
			  if (texto.indexOf(busqueda) >= 0) {
				  ans[idPer] = unaPer;
			  }
		  }
		  return ans;
	  } else {
		  return input;
	  }
  }
});
  
app.directive("contenteditable", function () {
        return {
            restrict: "A",
            require: "ngModel",
            link: function (scope, element, attrs, ngModel) {
                // read is the main handler, invoked here by the blur event
                function read() {
                    // Keep the newline value for substitutin
                    // when cleaning the <br>
                    //var newLine = String.fromCharCode(10);
                    // Firefox adds a <br> for each new line, we replace it back
                    // to a regular '\n'
                    //var formattedValue = element.html().replace(/<br>/ig,newLine).replace(/\r/ig,'');
                    var formattedValue = element.text();
                    // update the model
                    ngModel.$setViewValue(formattedValue);
                    // Set the formated (cleaned) value back into
                    // the element's html.
                    element.text(formattedValue);
                }

                ngModel.$render = function () {
                    var datoFinal = ngModel.$viewValue || "";
                    element.html(datoFinal);
                };

                element.bind("blur", function () {
                    // update the model when
                    // we loose focus
                    scope.$apply(read);
                });
                element.bind("paste", function(e){
                    // This is a tricky one
                    // when copying values while
                    // editing, the value might be
                    // copied with formatting, for example
                    // <span style="line-height: 20px">copied text</span>
                    // to overcome this, we replace
                    // the default behavior and
                    // insert only the plain text
                    // that's in the clipboard
                    e.preventDefault();
                    document.execCommand('inserttext', false, e.clipboardData.getData('text/plain'));
                });
            }
        };
    });

app.directive("directvozmichart", function () {
        return {
            restrict: "C",
            require: "ngModel",
            link: function (scope, element, attrs, ngModel) {

                ngModel.$render = function () {
                    console.log('directvozmichart', JSON.stringify(ngModel.$viewValue), element);
                    var miModelo = ngModel.$viewValue;

                    var opciones = miModelo.opciones;
                    var llavesOpciones = Object.keys(opciones);
                    var COLORES = [];
                    var LABELS = [];
                    for (var i=0; i<llavesOpciones.length; i++) {
                      var llaveOpcion = llavesOpciones[i];
                      var unaOpcion = opciones[llaveOpcion];
                      COLORES.push(unaOpcion.rgb);
                      LABELS.push('');
                    }

                    var horizontalBarChartData = {
                        labels: LABELS,
                        datasets: [{
                          label: '',
                          backgroundColor: COLORES,
                          borderColor: COLORES,
                          borderWidth: 1,
                          data: miModelo.resultado.data,
                        }]
                      };
                    var config = {
                      indexLabelFontSize: 20,
                      type: 'bar',
                      data: horizontalBarChartData,
                      options: {
                        // Elements options apply to all of the options unless overridden in a dataset
                        // In this case, we are setting the border of each horizontal bar to be 2px wide
                        elements: {
                          rectangle: {
                            borderWidth: 2,
                          }
                        },
                        responsive: true,
                        title: {
                          display: false,
                        },
                        aspectRatio: 2,
                        scales: {
                          xAxes: [{
                            display: true,
                            ticks: {
                              beginAtZero: true,
                              max: 100,
                              fontSize: 20,
                            },
                          }],
                          yAxes: [{
                            display: true,
                            ticks: {
                              beginAtZero: true,
                              max: 100,
                            },
                          }]
                        },
                        legend: {
                          display: false,
                        },
                      }
                    };
                    var ctx = element[0].getContext('2d');
                    var miDona = new Chart(ctx, config);

                };
            }
        };
    });

app.controller('MainController', function($rootScope, $scope, $state) {
	
  $scope.temporal = {
	'q': '', 
	'strict': false,
	'rta': [],
    'next': null,
  };
  var tiempo = 1571283165065;
  $scope.metadata = {
    'ctx2': {
    	'per': {
	        'dfd233': {
	        	'nom': 'Edgar Delgado',
	        	'email': 'edelgado@panal.co',
	        	
	        	'cel': 3183412491,
				'coef': 0.1,
				'humId': 'AP301',
				
				'img': null,
	        },
    	},
    	'hist': [
        {
          'tit': '15 de febrero del 2019 08:16pm',
          'res': [{'txt': 'Este es mi resumen', 'usr': 'admin','t': tiempo++}],
          'odd': true,
          'det': [
    	      {'t': tiempo++,'aud': '', 'txt': [{'txt': 'esto es el texto esto es el texto esto es el texto esto es el texto esto es el texto', 'usr': 'admin', 'per': 'dfd233','t': tiempo++}]},
            {'t': tiempo++,'aud': '', 'txt': [{'txt': 'esto es el texto esto es el texto esto es el texto esto es el texto esto es el texto', 'usr': 'admin', 'per': 'dfd233','t': tiempo++}]},
            {'t': tiempo++,'aud': '', 'txt': [{'txt': 'esto es el texto esto es el texto esto es el texto esto es el texto esto es el texto', 'usr': 'admin', 'per': 'dfd233','t': tiempo++}]},
            {'t': tiempo++,'aud': '', 'txt': [{'txt': 'esto es el texto esto es el texto esto es el texto esto es el texto esto es el texto', 'usr': 'admin', 'per': 'dfd233','t': tiempo++}]},
            {'t': tiempo++,'aud': '', 'txt': [{'txt': 'esto es el texto esto es el texto esto es el texto esto es el texto esto es el texto', 'usr': 'admin', 'per': 'dfd233','t': tiempo++}]},
            {'t': tiempo++,'aud': '', 'txt': [{'txt': 'esto es el texto esto es el texto esto es el texto esto es el texto esto es el texto', 'usr': 'admin', 'per': 'dfd233','t': tiempo++}]},
            {'t': tiempo++,'aud': '', 'txt': [{'txt': 'esto es el texto esto es el texto esto es el texto esto es el texto esto es el texto', 'usr': 'admin', 'per': 'dfd233','t': tiempo++}]},
          ],
          'tipo': 'voz',
          'modo': 'voz',
        },
        {
          'final': true,
          'det': [
            {'t': tiempo++,'aud': '', 'txt': [{'txt': 'esto es el texto esto es el texto esto es el texto esto es el texto esto es el texto', 'usr': 'admin', 'per': 'dfd233','t': tiempo++}]},
            {'t': tiempo++,'aud': '', 'txt': [{'txt': 'esto es el texto esto es el texto esto es el texto esto es el texto esto es el texto', 'usr': 'admin', 'per': 'dfd233','t': tiempo++}]},
            {'t': tiempo++,'aud': '', 'txt': [{'txt': 'esto es el texto esto es el texto esto es el texto esto es el texto esto es el texto', 'usr': 'admin', 'per': 'dfd233','t': tiempo++}]},
            {'t': tiempo++,'aud': '', 'txt': [{'txt': 'esto es el texto esto es el texto esto es el texto esto es el texto esto es el texto', 'usr': 'admin', 'per': 'dfd233','t': tiempo++}]},
            {'t': tiempo++,'aud': '', 'txt': [{'txt': 'esto es el texto esto es el texto esto es el texto esto es el texto esto es el texto', 'usr': 'admin', 'per': 'dfd233','t': tiempo++}]},
            {'t': tiempo++,'aud': '', 'txt': [{'txt': 'esto es el texto esto es el texto esto es el texto esto es el texto esto es el texto', 'usr': 'admin', 'per': 'dfd233','t': tiempo++}]},
            {'t': tiempo++,'aud': '', 'txt': [{'txt': 'esto es el texto esto es el texto esto es el texto esto es el texto esto es el texto', 'usr': 'admin', 'per': 'dfd233','t': tiempo++}]},
          ],
          'tipo': 'voz',
          'modo': 'voz',
        },
        {
          'tit': '15 de febrero del 2019 08:16pm',
          'res': [{'txt': 'Este es mi resumen', 'usr': 'admin','t': tiempo++}],
          'odd': false,
          'det': [
            {'t': tiempo++,'aud': '', 'txt': [{'txt': 'esto es el texto esto es el texto esto es el texto esto es el texto esto es el texto', 'usr': 'admin', 'per': 'dfd233','t': tiempo++}]},
            {'t': tiempo++,'aud': '', 'txt': [{'txt': 'esto es el texto esto es el texto esto es el texto esto es el texto esto es el texto', 'usr': 'admin', 'per': 'dfd233','t': tiempo++}]},
            {'t': tiempo++,'aud': '', 'txt': [{'txt': 'esto es el texto esto es el texto esto es el texto esto es el texto esto es el texto', 'usr': 'admin', 'per': 'dfd233','t': tiempo++}]},
            {'t': tiempo++,'aud': '', 'txt': [{'txt': 'esto es el texto esto es el texto esto es el texto esto es el texto esto es el texto', 'usr': 'admin', 'per': 'dfd233','t': tiempo++}]},
            {'t': tiempo++,'aud': '', 'txt': [{'txt': 'esto es el texto esto es el texto esto es el texto esto es el texto esto es el texto', 'usr': 'admin', 'per': 'dfd233','t': tiempo++}]},
            {'t': tiempo++,'aud': '', 'txt': [{'txt': 'esto es el texto esto es el texto esto es el texto esto es el texto esto es el texto', 'usr': 'admin', 'per': 'dfd233','t': tiempo++}]},
            {'t': tiempo++,'aud': '', 'txt': [{'txt': 'esto es el texto esto es el texto esto es el texto esto es el texto esto es el texto', 'usr': 'admin', 'per': 'dfd233','t': tiempo++}]},
          ],
          'tipo': 'voz',
          'modo': 'voz',
          'final': true,
        },
        {
          'tit': '15 de febrero del 2019 08:16pm',
          'res': [{'txt': '', 'usr': 'admin','t': tiempo++}],
          'odd': true,
          'det': [
            {'t': tiempo++,'aud': '', 'txt': [{'txt': 'esto es el texto esto es el texto esto es el texto esto es el texto esto es el texto', 'usr': 'admin', 'per': 'dfd233','t': tiempo++}]},
            {'t': tiempo++,'aud': '', 'txt': [{'txt': 'esto es el texto esto es el texto esto es el texto esto es el texto esto es el texto', 'usr': 'admin', 'per': 'dfd233','t': tiempo++}]},
            {'t': tiempo++,'aud': '', 'txt': [{'txt': 'esto es el texto esto es el texto esto es el texto esto es el texto esto es el texto', 'usr': 'admin', 'per': 'dfd233','t': tiempo++}]},
            {'t': tiempo++,'aud': '', 'txt': [{'txt': 'esto es el texto esto es el texto esto es el texto esto es el texto esto es el texto', 'usr': 'admin', 'per': 'dfd233','t': tiempo++}]},
            {'t': tiempo++,'aud': '', 'txt': [{'txt': 'esto es el texto esto es el texto esto es el texto esto es el texto esto es el texto', 'usr': 'admin', 'per': 'dfd233','t': tiempo++}]},
            {'t': tiempo++,'aud': '', 'txt': [{'txt': 'esto es el texto esto es el texto esto es el texto esto es el texto esto es el texto', 'usr': 'admin', 'per': 'dfd233','t': tiempo++}]},
            {'t': tiempo++,'aud': '', 'txt': [{'txt': 'esto es el texto esto es el texto esto es el texto esto es el texto esto es el texto', 'usr': 'admin', 'per': 'dfd233','t': tiempo++}]},
          ],
          'tipo': 'chart',
          'modo': 'chart',
          'chart': {
            'pregunta': '¿Qué vamos a hacer con el ascensor?',
            'opciones': {
              'sfg3245d': {'txt':'Comprar nuevo ascensor', 'rgb': 'red'},
              'afg3245e': {'txt':'Arreglar el actual ascensor', 'rgb': 'blue'},
            },
            'resultado': {
              'data': [40, 60],
            },
          },
        },
    	],
    },
    'principal': {
      'uid': null,
    }
  };
  $scope.slaveUrl = null;
  
  //Se reconfigura el módulo de sincronización
  subModuloSinc.funDarModelo = function() {
	  return $scope.metadata.ctx2;
  };
  subModuloSinc.funFinSinc = function() {
	  $scope.$digest();
  };
  
  moduloIntMarkInst.afterAny().then(function(datos) {
    console.log(datos);
    $scope.slaveUrl = datos.slaveUrl;
    $.extend(true, $scope.metadata, datos);
    $scope.$digest();
    diferidoDatos.resolve(datos);
  });

  var diferidoCargue = null;
  var diferidoDatos = $.Deferred();
  // Needed for the loading screen
  $rootScope.$on('$routeChangeStart', function() {
    $rootScope.loading = true;
    diferidoCargue = moduloActividad.on();
  });

  $rootScope.$on('$routeChangeSuccess', function() {
    $rootScope.loading = false;
    diferidoCargue.resolve();
  });
  
  $scope.redirigir = function(estado) {
    $state.go(estado);
  };
  
  $scope.inicializar = function() {
	  diferidoDatos.then(function() {
		var paramsActuales = moduloP5.getParams();
		$.extend(true, paramsActuales, $scope.metadata.ctx2.params);
		$scope.metadata.ctx2.params = paramsActuales;
		//$scope.metadata.ctx2.archivos = [];
		$scope.$digest();
	  });
  };
  
  $scope.asignarParams = function() {
	  moduloP5.setParams($scope.metadata.ctx2.params);
  };
  
  $scope.borrarAudio = function(miaudio) {
    $rootScope.Ui.turnOn('modalBorrar');
    $scope.diferidoBorrado = $.Deferred();
    $scope.diferidoBorrado.then(function() {
      	var indice = $scope.metadata.ctx2.archivos.indexOf(miaudio);
        var diferidoBorrar = moduloArchivos.borrar(moduloArchivos.darIdDadoUrl(decodeURIComponent(miaudio.url)));
        diferidoBorrar.then(function() {
        	$scope.metadata.ctx2.archivos.splice(indice, 1);
        	$scope.guardarTodo();
            $scope.$digest();
        });
    });
  };
  
  $scope.handlerNuevoSonido = function(soundBlob) {
	  
      moduloArchivos.darFuncionCargue()({
        auto: 'false', 
        fileName: (new Date().getTime())+'.wav',
        dataFolder:'/sonidos',
      }, soundBlob).then(function(metadata) {
    	  console.log(metadata);
        if (!($scope.metadata.ctx2.archivos instanceof Array)) {
        	$scope.metadata.ctx2.archivos = [];
        }
        var contenido = {'url': moduloArchivos.generarUrlDadoId(metadata.id)};
        //Pide el texto!
        
		var url = '/storage/voice?';
		url+=$.param({'name': metadata.id});
		moduloHttp.get(url).then(function(voice) {
			contenido.det = voice;
	        $scope.metadata.ctx2.archivos.push(contenido);
	        $scope.guardarTodo();
	        $scope.$digest();
		});
      }, function() {
    	  
      });
	  
  };
  
  $scope.capturar = function() {
	diferidoDatos.then(function() {
		moduloP5.init($('#canvasVoice'), function() {
	      	console.log('handlerLocal');
	    });
		moduloP5.activar();
	});
  };
  
  $scope.detener = function() {
	  moduloP5.detener();
  }
  
  $scope.guardarTodo = function() {
    var diferidoGuardado = moduloActividad.on();
    if (typeof angular == 'undefined') {
      angular = {
        toJson: JSON.stringify,
      };
    }
    var diferido2 = moduloPagina.guardar2(JSON.parse(angular.toJson($scope.metadata.ctx2)), undefined, true);
    var diferido1 = moduloPagina.guardar(JSON.parse(angular.toJson($scope.metadata.ctx)));
    all([diferido1.promise, diferido2.promise]).then(function() {
    	diferidoGuardado.resolve();
    });
    return diferidoGuardado;
  };
  
  $scope.mostrarAlgoEnGaleria = function() {
    if ($scope.temporal.rta.length > 0) {
      return;
    }
    $scope.buscar();
  };
  
  $scope.buscar = function() {
    $scope.temporal.rta = [];
    $scope.temporal.next = null;
    moduloPagina.buscar($scope.temporal.q).then(function(rta) {
      for (var i=0; i<rta.valor.length; i++) {
        $scope.temporal.rta.push(moduloTransformacion.modo('simple').from(rta.valor[i], true));
      }
      $scope.temporal.next = rta.next;
      $scope.$digest();
    }, function() {
      
    });
  };
  
  var darUrlDeArchivo = function(id, predef, local) {
    if (typeof id == 'string' && id.length > 0) {
      return moduloArchivos.generarUrlDadoId(id, local);
    } else {
      return predef;
    }
  };
  
  $scope.darUrlDeIdImagen = function(id) {
    return darUrlDeArchivo(id, '/assets/1/voz/img/def.svg', false);
  };
  
  $scope.verDetalle = function(ctx) {
    var id = ctx.id;
    var nuevaUrl = location.pathname.replace(/\d*$/, '')+'?pg='+id+'#!/';
    var win = window.open(nuevaUrl, '_blank');
    win.focus();
  };

  $scope.redirigir = function(estado) {
    $state.go(estado);
  };
  
  $scope.diferidoBorrado = null;
  $scope.borrarEfectivo = function() {
    $scope.diferidoBorrado.resolve();
  };
  
  $scope.borrarUno = function(instancia) {

    $rootScope.Ui.turnOn('modalBorrar');
    $scope.diferidoBorrado = $.Deferred();
    $scope.diferidoBorrado.then(function() {
      moduloPagina.borrarTodo(instancia.id).then(function() {
        //Lo debo sacar de la lista
        var indice = $scope.temporal.rta.indexOf(instancia);
        if (indice >= 0) {
          $scope.temporal.rta.splice(indice, 1);
          $scope.$digest();
        }
      });
    });
  };

  $scope.esTxt = function(val) {
    return (typeof val == 'string');
  };

  $scope.esTxtVacio = function(val) {
    return ((typeof val == 'string' && val.trim().length == 0) || val == null);
  }

  $scope.clickResumen = function(event) {
    var dx = event.originalEvent.offsetX;
    var dy = event.originalEvent.offsetY;
    if (dx > 11 && dx <24 && dy > 13 && dy < 26) {
      $(event.currentTarget).toggleClass('cerrado');
    }
  };

  $scope.clickVerso = function(dato, acc) {
    console.log(acc, JSON.stringify(dato));
  };

  $scope.toggleModo = function(verso) {
    var MODOS_TIPO = {
      'voz': ['voz'],
      'chart': ['chart', 'voz'],
    };
    var modos = MODOS_TIPO[verso.tipo];
    if (modos instanceof Array) {
      var indice = (modos.indexOf(verso.modo));
      indice++;
      if (indice >= modos.length) {
        indice = 0;
      }
      verso.modo = modos[indice];
      setTimeout(function() {
        $scope.$digest();
      });
    }
  };

  $scope.agregarOpcion = function(verso) {
    if (!(typeof verso.chart.opciones == 'object')) {
      verso.chart.opciones = {};
    }
    
    modIdGen.nuevo().then(function(id) {
      verso.chart.opciones[id] = {
        'rgb': 'red',
        'txt': 'Opción',
      };
      //Acá se debe ajustar el color de todas las opciones
      $scope.$digest();
    });
  };

  $scope.borrarOpcion = function(llave, lista) {
    delete lista[llave];
  };
  
  $scope.interpretarImagen = function(imageId) {
	  if (typeof imageId == 'string') {
		  return moduloArchivos.generarUrlDadoId2(imageId);
	  } else {
		  return '/assets/img/user.jpg';
	  }
  };
  
  $scope.tomarFoto = function(objeto) {
	  var opciones = {
			  'dir': '/usr',
			  'id': objeto.img,
	  };
	  moduloCapturaImagen.leer(opciones).then(function(respuesta) {
		  //Sí la tomó
		  objeto.img = respuesta.id;
		  $scope.$digest();
	  }, function() {
		  //Canceló
	  });
  };
  
  $scope.inicializarRedNeuronal = function() {
	  mipredictor.inicializar();
  };
  
  $scope.agregarPropiedad = function() {
	  var nombre = $scope.temporal.q;
	  if (typeof nombre == 'string' && nombre.trim().length > 0) {
		  var template = {
	       	'nom': nombre,
	       	'email': '',
	       	'cel': null,
			'coef': 1,
			'humId': '',
			'img': null,
		  };
		  modIdGen.nuevo().then(function(uid) {
			  $scope.metadata.ctx2.per[uid] = template;
			  $scope.$digest();
		  });
	  } else {
		  alert('Debe escribir un criterio de búsqueda');
	  }
  };
  
  $scope.borrarPropiedad = function(idProp, valorProp) {
	  
	$rootScope.Ui.turnOn('modalBorrar');
	$scope.diferidoBorrado = $.Deferred();
	$scope.diferidoBorrado.then(function() {
		var diferidoBorrado = moduloActividad.on();
		 var funFinal = function() {
			 delete $scope.metadata.ctx2.per[idProp];
			 $scope.$digest();
			 diferidoBorrado.resolve();
		 };
		 //Se debe borrar la imágen en caso de que exista
		 if (valorProp.img != null) {
			 moduloArchivos.borrar(valorProp.img).then(function() {
				 funFinal();
			 }, function() {
				 //Alertar que se debe reintentar
				 $rootScope.Ui.turnOn('modalError');
				 diferidoBorrado.resolve();
			 });
		 } else {
			 funFinal();
		 }
	});
  };
  
  $scope.asignarVotacionActual = function(indice) {
	  var actual = utilidades.leerObj($scope.metadata.ctx2, 'global.votacion',null);
	  var nuevo = 'hist.'+indice+'.chart'
	  if (actual == null || actual != nuevo) {
		  utilidades.asignarObj($scope.metadata.ctx2, 'global.votacion', nuevo);
	  } else {
		  utilidades.asignarObj($scope.metadata.ctx2, 'global.votacion', null);
	  }
	  $scope.guardarTodo();
  };

});
</script>