<div class="scrollable">
  <div class="scrollable-content bootstrapiso">
  		<div class="bootstrapiso scrollable-header">
			<div class="input-group p-3 ">
			  <input type="text" class="form-control" placeholder="Texto de búsqueda" aria-label="Texto de búsqueda" ng-model="temporal.q">
			  <div class="input-group-append">
			    <button class="btn btn-outline-secondary" type="button" ng-click="buscar()">Buscar</button>
			  </div>
			</div>
		</div>

		<div class="section">
		    <div class="panel-group bootstrapiso">
		    	<div class="panel panel-default">
					<div class="section">
						<div class="card" style="width: 18rem;" ng-repeat="ctx in temporal.rta">
						  <img class="card-img-top p-3" ng-src="{{ darUrlDeIdImagen(ctx.img) }}">
						  <div class="card-body">
						    <h5 class="card-title">{{ ctx.tit }}</h5>
						    <p class="card-text">{{ ctx.desc }}</p>

							<div class="btn-group" role="group" aria-label="Basic example">
							    <button type="button" class="btn btn-primary" ng-click="verDetalle(ctx)"><i class="fa fa-search"></i>&nbsp;Ver</button>
							    <button type="button" class="btn btn-danger" ng-click="borrarUno(ctx)" ng-if="ctx.usr == metadata.principal.uid"><i class="fa fa-times"></i>&nbsp;Borrar</button>
							</div>

						  </div>
						</div>
					</div>
		    	</div>
		    </div>
		</div>
  </div>
</div>

