
body {
	margin: 0;
}

.invisible {
	display: none;
}

.lrnopadding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.manito {
	cursor: pointer;
}

.rompertexto {
	word-break: break-all;
}

#firebaseui-auth-container {
	overflow: scroll;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99;
}

#firebaseui-auth-container .firebaseui-container {
	margin-top: 100px;
}

html {
	font-size: 13px !important;
}