<div ui-content-for="title">
  <span>Vista</span>
</div>

<div class="scrollable">
  <div class="scrollable-content" id="contenido-central" ng-init="inicializar()">
		<div class="section">
		    <div class="panel-group bootstrapiso">
		    	<div class="panel panel-default">
					<div class="section lrnopadding">
						<div class="col-md-3 col-sm-6 col-xs-12 mb-4" ng-repeat="ctx in metadata.ctx2.fotos">
							<div class="card">
							  	<div class="card-body">
							  	<img class="card-img-top p-3" ng-src="{{ darUrlDeIdImagen(ctx.img) }}">

								<div class="btn-group pull-right" role="group">
								    <button type="button" class="btn btn-primary" ng-click="verPanorama(ctx)"><i class="fa fa-play"></i></button>
								    <button type="button" class="btn btn-danger" ng-click="borrarPanorama(ctx)"><i class="fa fa-times"></i></button>
								</div>

							  </div>
							</div>
						</div>
						
						<div class="col-md-3 col-sm-6 col-xs-12 mb-4">
							<div class="card manito" ng-click="subirPanorama()">
							  	<div class="card-body">
							  		<i class="fa fa-plus">Agregar</i>
							  </div>
							</div>
						</div>
					</div>
		    	</div>
		    </div>
		</div>
  </div>
</div>