{% extends "base.html" %}

{% block encabezado %}
<style type="text/css">
#qrcode {
	padding: 20px;
	text-align: center;
    position: fixed;
    right: 0;
    bottom: 0;
}

#qrcode canvas {
	width: 200px;
	height: 200px;
}

#imslave {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
</style>
{% endblock %}

{% block content %}
<div id="firebaseui-auth-container" class="invisible"></div>
<div id="immaster" class="invisible">
	<div id="qrcode"></div>
</div>
<div id="imslave" class="invisible">
	
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/assets/node_modules/instascan/jquery.qrcode.min.js"></script>
<script type="text/javascript" src="/assets/node_modules/hummerjs/hammer.min.js"></script>
{% include "firebase/moduloIntMark.html" %}
{% endblock %}	