<script type="text/javascript">

  var moduloIntMarkInst = moduloIntMark({
    'masterLoged': true,
    'masterIdUsr': true,
    'slaveLoged': false,
    'slaveIdUsr': false,
    'useFirebase': false,
  });

  var app = angular.module('myApp', [
    //'ngRoute',
    'ui.router',
    'mobile-angular-ui',
    'mobile-angular-ui.gestures',
    'minicolors',
  ]).config(function(minicolorsProvider, $stateProvider, $urlRouterProvider) {
      $urlRouterProvider.otherwise("/");
      $stateProvider.state('/', {url:'/', templateUrl: "/assets/1/rsvp/vista.html"});
      $stateProvider.state('debug', {url: '/debug', templateUrl: '/assets/1/rsvp/debug.html', reloadOnSearch: false});
      $stateProvider.state('meta', {url: '/meta', templateUrl: '/assets/1/rsvp/meta.html', reloadOnSearch: false});
      $stateProvider.state('galeria', {url: '/galeria', templateUrl: '/assets/1/rsvp/galeria.html', reloadOnSearch: false});
      $stateProvider.state('invitados', {url: '/invitados', templateUrl: '/assets/1/rsvp/invitados.html', reloadOnSearch: false});

      angular.extend(minicolorsProvider.defaults, {
        control: 'hue',
        theme: 'bootstrap',
        position: 'top left'
      });
    });

  app.run(function($transform) {
    window.$transform = $transform;
  });
  
  app.filter('alguien', function() {
	  return function(x) {
	    if (typeof x == 'string' && x.trim().length > 0) {
	    	return x;
	    } else {
	    	return 'Alguien';
	    }
	  };
	});
  
  app.directive( 'editInPlace', function() {
	  return {
	    restrict: 'E',
	    scope: { value: '=' },
	    template: '<span ng-click="edit()" ng-bind="value | alguien"></span><input ng-model="value"></input>',
	    link: function ( $scope, element, attrs ) {
	      // Let's get a reference to the input element, as we'll want to reference it.
	      var inputElement = angular.element( element.children()[1] );
	      
	      // This directive should have a set class so we can style it.
	      element.addClass( 'edit-in-place' );
	      
	      // Initially, we're not editing.
	      $scope.editing = false;
	      
	      // ng-click handler to activate edit-in-place
	      $scope.edit = function () {
	        $scope.editing = true;
	        
	        // We control display through a class on the directive itself. See the CSS.
	        element.addClass( 'active' );
	        
	        // And we must focus the element. 
	        // `angular.element()` provides a chainable array, like jQuery so to access a native DOM function, 
	        // we have to reference the first element in the array.
	        inputElement[0].focus();
	      };
	      
	      // When we leave the input, we're done editing.
	      $(element.children()[1]).on( 'blur', function() {
	        $scope.editing = false;
	        element.removeClass( 'active' );
	      });
	    }
	  };
	});

app.controller('MainController', function($rootScope, $scope, $state) {

  

  $scope.temporal = {
    'q': '',
    'rta': [],
    'next': null,
    'preguntas': {},
  };
  $scope.metadata = {
    'ctx2': {
      'disenio': {
        'secciones': [],
      },
      'invitados': {},
    },
    'principal': {
      'uid': null,
    }
  };
  $scope.slaveUrl = null;
  moduloIntMarkInst.afterAny().then(function(datos) {
    //console.log(datos);
    $scope.slaveUrl = datos.slaveUrl;
    $.extend(true, $scope.metadata, datos);
    $scope.crearMapaPreguntas();
    $scope.$digest();
    diferidoDatos.resolve();
  });

  var diferidoCargue = null;
  var diferidoDatos = $.Deferred();
  // Needed for the loading screen
  $rootScope.$on('$routeChangeStart', function() {
    $rootScope.loading = true;
    diferidoCargue = moduloActividad.on();
  });

  $rootScope.$on('$routeChangeSuccess', function() {
    $rootScope.loading = false;
    diferidoCargue.resolve();
  });

  $scope.hayContenido = function(objeto) {
    if (typeof objeto != 'object' || objeto == null) {
      return false;
    }
    return (Object.keys(objeto).length > 0);
  };

  $scope.esIgual = function(myAccordion, i) {
    console.log('esIgual', myAccordion, i);
    return myAccordion == i;
  }



  $scope.guardarTodo = function() {
    $scope.renderizarParallax();
    var diferidoGuardado = moduloActividad.on();
    modRellax.guardarBasico($scope).always(function() {
      diferidoGuardado.resolve();
    });
    return diferidoGuardado;
  };

  $scope.agregarSeccion = function() {
    var plantilla = {
      'nom': null,
      'open': true,
      'ver': true,
      'capas': [],
      'paddingh': 0,
      'tipf': 'img',
    };
    plantilla.nom = 'Sección '+($scope.metadata.ctx2.disenio.secciones.length+1);

    modIdGen.nuevo().then(function(id) {
      plantilla.id = id;
      $scope.metadata.ctx2.disenio.secciones.push(plantilla);
      $scope.$digest();
    });
  };

  $scope.diferidoBorrado = null;
  $scope.borrarEfectivo = function() {
    $scope.diferidoBorrado.resolve();
  };

  $scope.borrarCapa = function(miseccion, micapa) {
    $rootScope.Ui.turnOn('modalBorrar');
    $scope.diferidoBorrado = $.Deferred();
    $scope.diferidoBorrado.then(function() {
      var indice = miseccion.capas.indexOf(micapa);
      if (indice >= 0) {
        miseccion.capas.splice(indice, 1);
      }
    });
  };

  $scope.borrarSeccion = function(miseccion) {
    $rootScope.Ui.turnOn('modalBorrar');
    $scope.diferidoBorrado = $.Deferred();
    $scope.diferidoBorrado.then(function() {
      var indice = $scope.metadata.ctx2.disenio.secciones.indexOf(miseccion);
      if (indice >= 0) {
        $scope.metadata.ctx2.disenio.secciones.splice(indice, 1);
      }
    });
  };

  var moverElemento = function(arreglo, from, to) {
    // remove `from` item and store it
    var f = arreglo.splice(from, 1)[0];
    // insert stored item into position `to`
    arreglo.splice(to, 0, f);
  }

  $scope.subirSeccion = function(miseccion) {
    var arreglo = $scope.metadata.ctx2.disenio.secciones;
    var indice = arreglo.indexOf(miseccion);
    if (indice == 0) {
      return;
    }
    moverElemento(arreglo, indice, indice-1);
  };

  $scope.bajarSeccion = function(miseccion) {
    var arreglo = $scope.metadata.ctx2.disenio.secciones;
    var indice = arreglo.indexOf(miseccion);
    if (indice == (arreglo.length - 1)) {
      return;
    }
    moverElemento(arreglo, indice, indice+1);
  };

  $scope.agregarCapa = function(seccion) {
    var plantilla = {
      'nom': null,
      'open': true,
      'ver': true,
      'vert': '',
      'verv': 0,
      'hort': '',
      'horv': 0,
      'tam': 100,//100%
      'vel': 0,
      'tipo': 'img',
    };
    if (!(seccion.capas instanceof Array)) {
      seccion.capas = [];
    }
    plantilla.nom = 'Capa '+(seccion.capas.length+1);

    modIdGen.nuevo().then(function(id) {
      plantilla.id = id;
      seccion.capas.push(plantilla);
      $scope.$digest();
    });
  };

  $scope.subirCapa = function(miseccion, micapa) {
    var arreglo = miseccion.capas;
    var indice = arreglo.indexOf(micapa);
    if (indice == 0) {
      return;
    }
    moverElemento(arreglo, indice, indice-1);
  };

  $scope.bajarCapa = function(miseccion, micapa) {
    var arreglo = miseccion.capas;
    var indice = arreglo.indexOf(micapa);
    if (indice == (arreglo.length - 1)) {
      return;
    }
    moverElemento(arreglo, indice, indice+1);
  };

  $scope.darUrlDeArchivo = function(id, predef, local) {
    return modRellax.darUrlDeArchivo(id, predef, local);
  };

  $scope.darUrlDeIdImagen = function(id) {
    return modRellax.darUrlDeIdImagen(id);
  };

  $scope.borrarImagenGenerica = function(micapa, llave) {
    var diferido = moduloActividad.on();
    moduloArchivos.borrar(micapa[llave]).always(function() {
      micapa[llave] = null;
      $scope.$digest();
      diferido.resolve();
    });
    return diferido;
  };

  $scope.asignarImagenGenerica = function(micapa, prefijo, llave) {
	  var subruta;
	  if (typeof llave != 'string') {
		  llave = 'img';
	  }
	  if (llave == 'img') {
		  subruta = prefijo+'/'+micapa.id;
	  } else {
		  subruta = prefijo+'/'+micapa.id+'/'+llave;
	  }
      return $scope.asignarArchivoGenerico(micapa, llave, prefijo+'/'+micapa.id, 'image/*');
  };

  $scope.asignarArchivoGenerico = function(micapa, llave, prefijo, tipo) {
    var diferido = $.Deferred();
    var subirArchivo = function() {
      var funcionCargue = moduloArchivos.darFuncionCargue();
      funcionCargue({
        auto: 'false', 
        tipos:tipo, 
        opcionesNegras: [],
        dataFolder:'/'+prefijo,
      }).then(function(metadata) {
        micapa[llave] = metadata.id;
        diferido.resolve();
      }, function() {
        diferido.resolve();
      });
    };
    if (typeof micapa[llave] == 'string' && micapa[llave].trim().length > 0) {
      var diferidoBorrar = moduloArchivos.borrar(micapa[llave]);
      diferidoBorrar.always(subirArchivo);
    } else {
      subirArchivo();
    }
    diferido.then(function() {
      modRellax.guardarBasico($scope).then(function() {
        $scope.$digest();
      });
    });
    return diferido;
  };

  $scope.borrarFuente = function() {
    var diferidoBorrar = moduloArchivos.borrar($scope.metadata.ctx2.disenio.fuente);
    diferidoBorrar.then(function() {
      $scope.metadata.ctx2.disenio.fuente=null;
      modRellax.guardarBasico($scope).then(function() {
        $scope.$digest();
      });
    });
    return diferidoBorrar;
  };

  $scope.cargarFuente = function() {
    $scope.asignarArchivoGenerico($scope.metadata.ctx2.disenio, 'fuente', 'fuentes', '*/*');
  };

  $scope.asignarImagenDeCapa = function(micapa, llave) {
    return $scope.asignarImagenGenerica(micapa, 'capa', llave);
  };

  $scope.asignarImagenDeSeccion = function(miseccion) {
    return $scope.asignarImagenGenerica(miseccion, 'sec');
  };

  $scope.asignarImagenDePagina = function(miseccion) {
    return $scope.asignarImagenGenerica(miseccion, 'pg');
  };

  $scope.renderizarParallax = function() {
    diferidoDatos.then(function() {
      modRellax.render($scope);
    });
  };

  $scope.buscar = function() {
    $scope.temporal.rta = [];
    $scope.temporal.next = null;
    moduloPagina.buscar($scope.temporal.q).then(function(rta) {
      for (var i=0; i<rta.valor.length; i++) {
        $scope.temporal.rta.push(moduloTransformacion.modo('simple').from(rta.valor[i], true));
      }
      $scope.temporal.next = rta.next;
      $scope.$digest();
    }, function() {
      
    });
  };

  $scope.siguientePagina = function() {
    if ($scope.temporal.next != null) {
      moduloPagina.buscar($scope.temporal.q, $scope.temporal.next).then(function(rta) {
        var temp = [];
        for (var i=0; i<rta.valor.length; i++) {
          temp.push(moduloTransformacion.modo('simple').from(rta.valor[i], true));
        }
        $scope.temporal.rta.concat(temp);
        $scope.temporal.next = rta.next;
        $scope.$digest();
      }, function() {
        
      });
    }
  };

  $scope.verDetalle = function(ctx) {
    var id = ctx.id;
    var nuevaUrl = location.pathname.replace(/\d*$/, '')+'?pg='+id+'#!/';
    var win = window.open(nuevaUrl, '_blank');
    win.focus();
  };

  $scope.$watch('metadata.ctx2.disenio',function(){
    //console.log('renderizar?');
  });

  $scope.redirigir = function(estado) {
    $state.go(estado);
  };

  $scope.crearNuevo = function() {
    //Podría mostrar un modal con nombre, titulo antes de crear
    moduloPagina.crear().then(function(rta) {
      if (rta.error == 0) {
        var url = location.origin + location.pathname+'?pg='+rta.valor.id+'#!/meta';
        window.open(url,"_self");
      }
    });
  };

  $scope.borrarUno = function(instancia) {

    $rootScope.Ui.turnOn('modalBorrar');
    $scope.diferidoBorrado = $.Deferred();
    $scope.diferidoBorrado.then(function() {
      moduloPagina.borrarTodo(instancia.id).then(function() {
        //Lo debo sacar de la lista
        var indice = $scope.temporal.rta.indexOf(instancia);
        if (indice >= 0) {
          $scope.temporal.rta.splice(indice, 1);
          $scope.$digest();
        }
      });
    });
  };

  $scope.agregarInvitado = function() {
    var plantilla = {
      'nom': '',
    };
    if (typeof $scope.metadata.ctx2.invitados == 'undefined') {
      $scope.metadata.ctx2.invitados = {};
    }
    modIdGen.nuevo().then(function(id) {
      $scope.metadata.ctx2.invitados[id] = plantilla;
      $scope.$digest();
    });
  };

  $scope.borrarInvitado = function(id) {
    if (typeof $scope.metadata.ctx2.invitados == 'undefined') {
      return;
    }
    $rootScope.Ui.turnOn('modalBorrar');
    $scope.diferidoBorrado = $.Deferred();
    $scope.diferidoBorrado.then(function() {
      delete $scope.metadata.ctx2.invitados[id];
      $scope.$digest();
    });
  };

  $scope.copiarUrlInvitado = function(idInvitado) {
    var params = {
      'pg':$scope.metadata.ctx.id,
      'sl':'si',
      'quien':idInvitado,
    };
    var nueva = location.origin+location.pathname+'?'+$.param(params)+'#!/';
    window.open(nueva, '_blank');
  };

  $scope.agregarRta = function(micapa) {
    if (typeof micapa.rtas == 'undefined') {
      micapa.rtas = {};
    }
    var plantilla = {
      'txt': '',
    };
    modIdGen.nuevo().then(function(id) {
      micapa.rtas[id] = plantilla;
      $scope.$digest();
    });
  };

  $scope.borrarRta = function(micapa, id) {
    if (typeof micapa.rtas == 'undefined') {
      return;
    }
    $rootScope.Ui.turnOn('modalBorrar');
    $scope.diferidoBorrado = $.Deferred();
    $scope.diferidoBorrado.then(function() {
      delete micapa.rtas[id];
      $scope.$digest();
    });
  };

  $scope.crearMapaPreguntas = function() {
    $scope.temporal.preguntas={};
    var secciones = $scope.metadata.ctx2.disenio.secciones;
    for (var i=0; i<secciones.length; i++) {
      var capas = secciones[i].capas;
      if (typeof capas == 'object') {
        for (var j=0; j<capas.length; j++) {
          var capa = capas[j];
          if (['preg'].indexOf(capa.tipo) >= 0) {
            $scope.temporal.preguntas[capa.id] = capa;
          }
        }
      }
    }
  };

  $scope.mostrarAlgoEnGaleria = function() {
    if ($scope.temporal.rta.length > 0) {
      return;
    }
    $scope.buscar();
  };

  $scope.hayTexto = function(texto) {
    return modRellax.hayTexto(texto);
  };
  
  var downloadCSV = function (csv, filename) {
	    var csvFile;
	    var downloadLink;

	    // CSV file
	    csvFile = new Blob(['\ufeff'+csv], {type: "text/csv"});
	    // Download link
	    downloadLink = document.createElement("a");
	    // File name
	    downloadLink.download = filename;
	    // Create a link to the file
	    downloadLink.href = window.URL.createObjectURL(csvFile);
	    // Hide download link
	    downloadLink.style.display = "none";
	    // Add the link to DOM
	    document.body.appendChild(downloadLink);
	    // Click download link
	    downloadLink.click();
	};
  
  var exportTableToCSV = function (filename, tabla) {
	    var csv = [];
	    var rows = tabla[0].querySelectorAll("tr");
	    
	    for (var i = 0; i < rows.length; i++) {
	        var row = [], cols = rows[i].querySelectorAll("td, th");
	        
	        for (var j = 0; j < cols.length; j++) 
	            row.push(cols[j].innerText);
	        
	        csv.push(row.join(","));        
	    }

	    // Download CSV file
	    downloadCSV(csv.join("\n"), filename);
	};
  
  $scope.exportarInvitados = function() {
	var tabla = $('.tabla_invitados');
	exportTableToCSV('invitados.csv', tabla);
  };

});
</script>