<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<base href="/" target="_blank">
		
		{% autoescape on %}
		<title>{{ detalle.tit }}</title>
		<meta name="og:title" content="{{ detalle.tit }}" />
		<meta name="twitter:title" content="{{ detalle.tit }}" />
		
		<meta name="og:description" content="{{ detalle.desc }}" />
		<meta name="twitter:description" content="{{ detalle.desc }}" />
		
		<meta name="keywords" content="{{ detalle.q }}">
		
		<meta name="og:image" content="{{ detalle.img }}" />
		<meta name="twitter:image" content="{{ detalle.img }}" />
		{% endautoescape %}
		
		<meta name="og:site_name" content="PaisTv" />
		<meta name="og:url" content="https://www.pais.tv" />
		<meta name="og:type" content="website" />
		
		<link rel="stylesheet" href="/assets/css/util-global.css"/>
		<link rel="stylesheet" href="/assets/css/actividad.css"/>

		<link rel="stylesheet" href="/assets/node_modules/firebase/firebaseui.css"/>
		
		<!-- Angular Material style sheet -->
		<link rel="stylesheet" href="/assets/node_modules/angular-material/angular-material.min.css">

	    <!-- Only required for desktop -->
	    <link rel="stylesheet" href="/assets/node_modules/mobile-angular-ui/dist/css/mobile-angular-ui-hover.min.css" />
	
	    <!-- Always required -->
	    <link rel="stylesheet" href="/assets/node_modules/mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css" />
	
	    <!-- Only required for desktop -->
	    <link rel="stylesheet" href="/assets/node_modules/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.min.css" />

	    <link rel="stylesheet" href="/assets/css/bootstrap4/bootstrap.min.css"/>
	
		<script type="text/javascript" src="/assets/node_modules/crypto-js/crypto-js.js"></script>
		<script type="text/javascript" src="/assets/node_modules/firebase/firebase.js"></script>
		<script type="text/javascript" src="/assets/node_modules/firebase/firebaseui.js"></script>
		<script type="text/javascript" src="/assets/node_modules/jquery/dist/jquery.min.js"></script>
		
		__USER__

		<script type="text/javascript" src="/assets/dist/modulos.min.js"></script>
		{% if admin %}
		<script type="text/javascript" src="/assets/dist/admin/admin.js"></script>
		{% else %}
		<script type="text/javascript" src="/assets/dist/publico/publico.js"></script>
		{% endif %}

		<script type="text/javascript" src="/assets/node_modules/instascan/jquery.qrcode.min.js"></script>
		{% include "firebase/cliente.html" %}



	    <script type="text/javascript" src="/assets/node_modules/angular/angular.min.js"></script>
	    <script type="text/javascript" src="/assets/node_modules/angular-ui-router/angular-ui-router.min.js"></script>
	    <script type="text/javascript" src="/assets/node_modules/mobile-angular-ui/dist/js/mobile-angular-ui.min.js"></script>
	    <script type="text/javascript" src="/assets/node_modules/mobile-angular-ui/dist/js/mobile-angular-ui.gestures.min.js"></script>

		<!-- Angular Material Library -->
  		<script type="text/javascript" src="/assets/node_modules/angular-material/angular-material.min.js"></script>
		
		{% block encabezado %}{% endblock %}
	</head>
	
	<body class="" ng-app="myApp" ng-controller="MainController" ui-prevent-touchmove-defaults>
	<div id="firebaseui-auth-container" class="invisible"></div>
	{% csrf_token %}
	{% block content %}{% endblock %}
	
	{% block scripts %}{% endblock %}
	</body>
</html>
