<div ui-content-for="title">
  <span>Vista</span>
</div>

<div class="scrollable bootstrapiso">
  <div class="scrollable-content" id="contenido-central" ng-init="inicializar()">

    <div class="timeline">
      <div class="contenedor" ng-repeat="miverso in metadata.ctx2.hist | orderbyobjectkey" ng-class="{'derecha': (miverso.odd === false), 'final': (miverso.final === true)}">
        <i class="bolita" ng-click="toggleModo(miverso)"></i>
        <h1 class="titulo" contenteditable ng-if="(miverso.odd === true || miverso.odd === false) && esTxt(miverso.tit)" ng-model="miverso.tit"></h1>
        <span class="horita">{{ (primeroEnObj(miverso.det).llave | ord2num) | date:"hh:mm" }}</span>
        <span class="quien" ng-if="miverso.modo == 'voz' && (miverso.odd === true || miverso.odd === false)">
        	<img ng-src="{{ interpretarImagen(metadata.ctx2.per[primeroEnObj(primeroEnObj(miverso.det).valor.txt).valor.per].img) }}" ng-click="tomarFoto(metadata.ctx2.per[primeroEnObj(primeroEnObj(miverso.det).valor.txt).valor.per])"/>
        </span>
        <!-- div class="anotaciones transicion_suave cerrado" contenteditable="" ng-if="miverso.modo == 'voz' && esTxt(primeroEnObj(miverso.res).valor.txt)" ng-model="primeroEnObj(miverso.res).valor.txt" ng-click="clickResumen($event)"></div-->
        <div ng-if="miverso.modo == 'voz'">
          <span class="textico" ng-repeat="mitxt in miverso.det | orderbyobjectkey"><i class="fa fa-play-circle" ng-click="clickVerso(mitxt, 'play', miverso)"></i><span contenteditable ng-model="primeroEnObj(mitxt.txt).valor.txt"></span><i class="fa fa-user" ng-click="clickVerso(mitxt, 'det', miverso)"></i></span>
        </div>
        <div>
        <span class="descr_dona" ng-if="miverso.modo == 'chart'"><i class="fa fa-eye manito" ng-click="asignarVotacionActual(miverso.v)"></i><h1 class="titulillo" contenteditable ng-model="miverso.chart.pregunta"></h1></span>
        <div class="dona" ng-if="miverso.modo == 'chart'">
          <span class="chart"><canvas class="directvozmichart" ng-model="miverso.chart"></canvas></span>
          <span class="unaopcion" ng-repeat="(idopcion, miopcion) in miverso.chart.opciones">
            <i class="fa fa-circle" ng-style="{color: miopcion.rgb}"></i><span contenteditable ng-model="miopcion.txt"></span><i class="fa fa-times-circle manito" ng-click="borrarOpcion(idopcion, miverso.chart.opciones)"></i><br/>
          </span>
          <span class="manito accion_agregar_opc" ng-click="agregarOpcion(miverso.v)"><i class="fa fa-plus-circle"></i>Agregar opción</span>
        </div>
      </div>
    </div>


  	<div id="controlesVoice" class="col-xs-12">
        <div class="list-group">
          <div class="">
            <a href="" ng-click="capturar()" class="btn btn-default col-xs-6">On <i class="fa fa-volume-up"></i></a>
            <a href="" ng-click="detener()" class="btn btn-default col-xs-6">Off <i class="fa fa-volume-off"></i></a>
            <div class="form-group col-xs-12">
              <div class="input-group col-xs-12">
              	<label>THVOL {{ metadata.ctx2.params.THVOL }}</label><input type="range" class="form-control" ng-model="metadata.ctx2.params.THVOL" min="0" max="250" step="10" value="40" ng-change="asignarParams()">
              </div>
            </div>
          </div>
        </div>
  	</div>
  	<div id="canvasVoice" class="col-xs-12"></div>
  	<ul class="col-xs-12">
  		<li ng-repeat="miaudio in metadata.ctx2.archivos">
  			<audio controls="" ng-src="{{ miaudio.url }}"></audio>
  			<p>{{ miaudio.det.results[0].alternatives[0].transcript }}</p>
  			<button class="btn btn-danger" type="button" ng-click="borrarAudio(miaudio)"><i class="fa fa-times"></i></button>
  		</li>
  	</ul>
  	<!--div class="panes">
	  	<div class="pane">
		  	<canvas id="viscanvas" width="400" height="400">Browser not supported for Canvas. Get a real browser.</canvas>
	  	</div>
	  	<div class="pane">
		  	<canvas id="NPGcanvas" width="400" height="400" ng-init="inicializarRedNeuronal()">Browser not supported for Canvas. Get a real browser.</canvas>
	  	</div>
  	</div-->
  </div>
</div>
